<div class="head_top">
	<div class="head_top_box">
			<div class="head_top_box_left link_lan"><span id="top_loginform"></span></div>
			<div class="head_top_box_right link_bk">
			{#include file="top_nav.htm"#}
			</div>
			<div class="clear"></div>
	</div>
</div>


<div id="web_head">

    
    <div class="main_frame">
    
    	<div class="top_middle">
        	<div id="logo_box" class="left">
            	<div id="logo"><a href="{#$QISHI.site_dir#}"><img src="{#$QISHI.upfiles_dir#}{#$QISHI.web_logo#}" alt="{#$QISHI.site_name#}" border="0" align="absmiddle" /></a></div>
            </div>
            <div id="top_split" class="left"></div>
            <div id="top_banner_box" class="left">
            	<div id="top_banner">
            		{#qishi_ad set="显示数目:1,调用名称:QS_alltopimg,列表名:ad"#}
                    {#foreach from=$ad item=list#}
                    <a href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$QISHI.site_name#}" border="0" align="absmiddle" /></a>
                    {#/foreach#}
                </div>
            </div>
    	</div>
        
        <div id="main_nav">
        	<div class="nav_bg_left left"></div>
            <div class="nav_bg_mid left">
            	<div id="nav">
                	<ul class="f12">
                        {#qishi_nav set="调用名称:QS_top,列表名:list"#}
                        {#foreach from=$list item=list#}
                        <li  {#if $list.tag==$page_select && $list.tag!=""#}class="nav_selected"{#else#}class="nav_normal"{#/if#}><a href="{#$list.url#}" target="{#$list.target#}">{#$list.title#}</a></li>
                        {#/foreach#}
                    </ul>
                </div>
            </div>
            <div class="nav_bg_right left"></div>
        </div>
        
    </div>
    
    <div class="header_line"></div>
    
</div>
