<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_jobs"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/global.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/layout.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/font.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
</head>
<body>
{#include file="header-min.htm"#}
<div class="main_frame">
    <div class="page_location blue_l blue_n">
    当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>
    </div>
    <div id="jobs-nav">
      <ul>
          <li class="select"><a href="{#"QS_jobslist"|qishi_url#}">全能搜索</a></li>
          <li><a href="{#"QS_officebuilding"|qishi_url#}" >按写字楼搜索</a></li>
          <li><a href="{#"QS_street"|qishi_url#}">按道路搜索</a></li>
          <li><a href="{#"QS_map,1"|qishi_url#}">地图搜索</a></li>
          <li><a href="{#"QS_jobtag"|qishi_url#}" >按标签搜索</a></li>
      </ul>
    </div>
    <div class="jobsearchbox" id="jobsearchbox"><div class="loading"></div></div>
    <script src="{#$QISHI.site_template#}js/jquery.jobs-search.js" type='text/javascript'></script>
    <script type="text/javascript">
        var getstr=",,,,,,,,";
        var getkey="{#$smarty.get.key|default:"请输入职位名称、公司名称、技能特长、学校等关键字..."#}";
        allaround('{#$QISHI.site_template#}','{#$QISHI.site_dir#}','{#"QS_jobslist"|qishi_url#}',getkey,getstr);
    </script>
    <div class="jobsbox" style="margin-right:11px;">
      <div class="tit">
        <div class="left"><h2>·&nbsp;&nbsp;推荐职位</h2></div>
        <div class="right white"><a href="{#"QS_helplist,10"|qishi_url#}" target="_blank">我也要出现在这里！</a></div>
        <div class="clear"></div>
      </div>
        <ul class="link_bk">
        {#qishi_jobs_list set="列表名:jobslist,显示数目:12,填补字符:...,职位名长度:6,企业名长度:16,推荐:1,排序:rtime>desc"#}
        {#foreach from=$jobslist item=list#}
        <li>
        <a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
        <a href="{#$list.jobs_url#}" target="_blank" class="jobsname">{#$list.jobs_name#}</a>
        </li>
        {#/foreach#}
        </ul>
        <div class="clear"></div>
        
    </div>
    
    
    <div class="jobsbox" style="margin-right:11px;">
      <div class="tit">
        <div class="left"><h2>·&nbsp;&nbsp;紧急招聘</h2></div>
        <div class="right white"><a href="{#"QS_helplist,10"|qishi_url#}" target="_blank">我也要出现在这里！</a></div>
        <div class="clear"></div>
      </div>
    <ul class="link_bk">
    {#qishi_jobs_list set="列表名:jobslist,显示数目:12,填补字符:...,职位名长度:6,企业名长度:16,紧急招聘:1,排序:rtime>desc"#}
    {#foreach from=$jobslist item=list#}
    <li>
    <a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
    <a href="{#$list.jobs_url#}" target="_blank" class="jobsname">{#$list.jobs_name#}</a>
    </li>
    {#/foreach#}
    </ul>
    <div class="clear"></div>
    </div>
    
    
    <div class="jobsbox">
      <div class="tit">
        <div class="left"><h2>·&nbsp;&nbsp;最新职位</h2></div>
        <div class="right white"><a href="{#"QS_jobslist"|qishi_url#}" target="_blank">更多</a></div>
        <div class="clear"></div>
      </div>
    <ul class="link_bk">
    {#qishi_jobs_list set="列表名:jobslist,显示数目:12,填补字符:...,职位名长度:8,企业名长度:12,排序:rtime>desc"#}
    {#foreach from=$jobslist item=list#}
    <li>
    <a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
    <a href="{#$list.jobs_url#}" target="_blank" class="jobsname">{#$list.jobs_name#}</a>
    </li>
    {#/foreach#}
    </ul>
    <div class="clear"></div>
    </div>
</div>
 <div class="ver_line"></div>
{#include file="footer.htm"#}
</body>
</html>
