<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>

<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery.vtip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#tabshow li:nth-child(2)>a").addClass("selected");
});
</script>
</head>
<body>
{#include file="member_personal/header.htm"#}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:6px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
		<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>我创建的简历</h1>
		</div>
		 <div class="us_tab">
			<a href="?act={#$act#}&amp;audit=" {#if $smarty.get.audit==""#}class="select"{#/if#}>所有简历</a>
              <a href="?act={#$act#}&amp;audit=1" {#if $smarty.get.audit=="1"#}class="select"{#/if#}>审核通过的</a>
              <a href="?act={#$act#}&amp;audit=2" {#if $smarty.get.audit=="2"#}class="select"{#/if#}>审核中的</a>
			  <a href="?act={#$act#}&amp;audit=3" {#if $smarty.get.audit=="3"#}class="select"{#/if#}>审核未通过的</a>
			  <div class="clear"></div>
			  </div>
	<form id="form1" name="form1" method="post" action="?act=del_resume" >
	  <table width="100%" border="0" cellpadding="4" cellspacing="0" >
        <tr>
          <td height="600" valign="top" bgcolor="#FFFFFF">
		  <table width="97%" border="0" cellpadding="0" cellspacing="0" class="link_lan" id="list"  align="center">
              <tr>
                <td height="26" class="us_list_title"><label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />简历名称</label>                </td>
                <td class="us_list_title" width="80">审核状态</td>
                <td width="85" class="us_list_title">刷新时间</td>
                <td width="85" class="us_list_title">到期时间</td>
                <td width="63" class="us_list_title" align="center">完整指数</td>
                <td width="15" class="us_list_title">&nbsp;</td>
                <td width="40" align="center" class="us_list_title">等级</td>
				<td width="50" align="center" class="us_list_title">浏览</td>
                <td width="130" align="center" class="us_list_title">操作</td>
              </tr>
			   {#foreach from=$resume_list item=list#}
              <tr>
                <td height="30" class="us_list">
				<input name="y_id[]" type="checkbox" id="y_id"   value="{#$list.id#}"/> 
			<a href="?act=resume_show&pid={#$list.id#}" {#if $list.complete_percent<30#} style="color:#666666"  class="vtip" title="完整指数小于 30%，系统将视为无效简历"{#/if#}>
			{#$list.title#}
			</a>				</td>
                <td  class="us_list">
				 {#if $list.audit=="1"#}审核通过{#/if#}
			{#if $list.audit=="2"#}审核中{#/if#}
			{#if $list.audit=="3"#}审核未通过{#/if#}
				</td>
                <td class="us_list">{#$list.refreshtime|date_format:"%Y-%m-%d"#}</td>
                <td class="us_list">
				{#if $list.deadline==0#}
				<span style="color: #FF6600">已经到期</span>
				{#else#}
				{#$list.deadline|date_format:"%Y-%m-%d"#}
				{#/if#}				</td>
                <td class="us_list vtip" style=" cursor:help" title="简历完整指数为：<span style=color:#FF0000><strong>{#$list.complete_percent#}</strong> %</span><br />如完整指数小于<strong>30%</strong>，则系统视为无效简历。<br />简历完整指数越高，排名越靠前">
				<div style="border:1px #006600 solid; width:60px; height:8px;">
					  <div style="width:{#$list.complete_percent#}%;background-color:#99CC00; height:8px;"> </div>
					  </div>				</td>
                <td align="left" class="us_list">{#$list.complete_percent#}%</td>
                <td align="center" class="us_list">
				 {#if $list.talent=="2"#}
				  <span style="color:#FF6600">高级</span>
				  {#else#}
				  普通
				  {#/if#}				</td>
                <td align="center" class="us_list">{#$list.click#}次</td>
                <td align="center" class="us_list">
				{#if $list.deadline==0#}
				<a href="?act=resume_extend&pid={#$list.id#}" ><font color="red">延长到期时间</font></a>
				{#else#}
				<a href="?act=resume_show&pid={#$list.id#}" >修改</a>&nbsp;&nbsp;&nbsp;
				<a href="?act=resume_privacy&pid={#$list.id#}" >隐私</a>&nbsp;&nbsp;&nbsp;
				<a href="?act=del_resume&y_id={#$list.id#}"  onclick="return confirm('您确定删除吗?')">删除</a>
				{#/if#}				</td>
              </tr>
			  {#/foreach#}
            </table>
			 {#if $resume_list#}
			  <table width="100%" border="0" cellspacing="8" cellpadding="0">
                <tr>
                  <td>
				   <input type="button" name="add" value="创建一份简历"   class="user_submit" onclick="javascript:location.href='?act=make1' " />
                    &nbsp;&nbsp;&nbsp;&nbsp;
				  <input type="button" name="refresh" value="一键提升简历排名"   class="user_long_submit" onclick="javascript:location.href='?act=refresh' " />
                    &nbsp;&nbsp;&nbsp;&nbsp;                   
                    <input type="submit" name="delete" value="删除简历"   class="user_submit"  onclick="return confirm('您确定删除吗?')"/></td>
                </tr>
              </table>
			  {#else#}
			<div class="us_list_no_content">没有您要找的简历</div>
			<table width="100%" border="0" cellspacing="8" cellpadding="0">
                <tr>
                  <td>
				   <input type="button" name="add" value="创建一份简历"   class="user_submit" onclick="javascript:location.href='?act=make1' " />
					</td>
                </tr>
              </table>
		  {#/if#}
           
		   </td>
        </tr>
      </table>
	</form>	
	</div>
	</td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>