<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/date_input.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>

<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
//日期
$(function() { 
$(".date_input").date_input(); 
});
$(document).ready(function()
{
	$("#tabshow li:nth-child(2)>a").addClass("selected");
});
//验证
$(document).ready(function() {
 $("#Form1").validate({
// debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   start:{
    required: true
   },
   endtime: {
	required:true
   },
   companyname: {
   required:true
   },
   agency: "required",
   course: "required"
	},
    messages: {
    start: {
    required: "请输入开始日期"
   },
   endtime: {
    required: jQuery.format("请输入结束日期")
   },
   companyname: {
    required: jQuery.format("请输入企业名称")
   },
    agency: {
    required: jQuery.format("请输入培训机构")
   },
    course: {
    required: jQuery.format("请输入培训课程")
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( element.parent().next().next() );
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
	}
    });
});
</script>
</head>
<body>
{#include file="member_personal/header.htm"#}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:6px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>我的简历</h1>
		</div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td height="22" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="4" >
            <tr>
              <td height="50" bgcolor="#F5FAFC" style="border-bottom:1px #ACC9D0 dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:14px; color:#0033CC">修改培训经历</span> <span style="color:#999999">(带<strong  style="color:#FF0000">*</strong>的为必填)</span></td>
              </tr>            
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:150px; line-height:180%; margin-top:10px;">
			<form id="Form1" name="Form1" method="post" action="?act=save_resume_training_edit">
				 <tr>
                <td width="242" height="23" align="right" valign="top"><strong  style="color:#FF0000">*</strong>开始日期：</td>
                <td><input name="start" type="text" class="user_input date_input" id="start"   value="{#$training_edit.start#}" maxlength="18"/>
                    <span style="color:#666666">(如：2003-9-5)</span></td>
              </tr>
              <tr>
                <td width="242" height="23" align="right" valign="top"><strong  style="color:#FF0000">*</strong>结束日期：</td>
                <td><input name="endtime" type="text" class="user_input date_input" id="endtime" maxlength="18"  />
                    <span style="color:#666666">(如：2006-6-1)</span></td>
              </tr>
              <tr>
                <td width="242" height="23" align="right" valign="top"><strong  style="color:#FF0000">*</strong>培训机构：</td>
                <td width="836"><input name="agency" type="text" class="user_input" id="agency" maxlength="40"  value="{#$training_edit.agency#}"/></td>
              </tr>
              <tr>
                <td width="242" height="23" align="right" valign="top"><strong  style="color:#FF0000">*</strong>培训课程：</td>
                <td><input name="course" type="text" class="user_input" id="course" maxlength="30" value="{#$training_edit.course#}"/></td>
              </tr>
			     <tr>
                <td width="242" height="23" align="right" valign="top">培训描述：</td>
                <td><textarea name="description"  id="description" style="width:350px; height:90px; line-height:160%; font-size:12px;"  onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,200)}">{#$training_edit.description#}</textarea>
                  <br />例如培训内容、结业情况、获得证书、学习收获等。
</td>
              </tr>
              <tr>
                <td height="60" align="center">
				<input name="id" type="hidden" id="id" value="{#$training_edit.id#}" />
				<input name="pid" type="hidden" id="pid" value="{#$training_edit.pid#}" />
                  <input name="hrer" type="hidden" id="hrer" value="{#$hrer#}" />
				</td>
                <td height="60"><input type="submit" name="save" value="确定修改" class="user_submit"/>                  
                &nbsp;
                <input type="button" name="button1" value="返回上一页"  class="user_submit" onclick="window.location='{#$hrer#}'"/>
                <br /></td>
              </tr></form>
            </table>
		  </td>
          <td width="150" valign="top" class="resume_right_box" >
		 {#include file="member_personal/personal_right.htm"#}
		  </td>
        </tr>
      </table>
      </div>  
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
