<div class="footer">
<div class="link_lan"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#$QISHI.site_domain#}');" href="javascript:">设为首页</a>
&nbsp;&nbsp;<a href="/news/">新闻资讯</a>
{#qishi_explain_list set="列表名:explain,分类ID:1"#}{#foreach from=$explain item=list#}
&nbsp;&nbsp;<a href="{#$list.url#}" target="_blank">{#$list.title#}</a>
{#/foreach#}
</div>
<div class="link_lan" id="qq"></div>
<div class="link_bk">建湖人才网是建湖地区权威的求职招聘网站，涵盖建湖人才网、建湖人才市场，提供建湖人才、建湖人才招聘信息等服务！</div>
<div class="link_bk">公司名称：{#$QISHI.address#} 业务电话：{#$QISHI.bootom_tel#} 工作时间:08:30-18:00(周一至周六)</div>
<div class="link_bk"><a href="{#$QISHI.site_dir#}">{#$QISHI.site_name#}</a> 版权所有 本网站所有求职招聘信息，未经本站授权不得以任何形式转载 </div>
<div class="link_bk"><a href="http://www.miibeian.gov.cn/" target="_blank">{#$QISHI.icp#}</a></div>
<div style="display:none;visibility:hidden;">{#$QISHI.statistics#}</div>
</div>