<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#tabshow #top_nav_jobs>a").addClass("selected");
});
</script>
</head>
<body>
{#include file="member_company/header.htm"#}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:6px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_company/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>已发布的职位</h1>
		</div>
		{#if !$setmeal #}
		<div class="us_list_tip link_lan" style="margin-top:13px;">
		您可以通过申请VIP会员来提高招聘效果。
		</div>
		{#/if#}
	   <div class="us_tab">
			<a href="?act={#$act#}&amp;status=" {#if $smarty.get.status==""#}class="select"{#/if#}>所有职位</a>
              <a href="?act={#$act#}&amp;status=1" {#if $smarty.get.status=="1"#}class="select"{#/if#}>招聘中的</a>
              <a href="?act={#$act#}&amp;status=2" {#if $smarty.get.status=="2"#}class="select"{#/if#}>已暂停的</a>
			  <a href="?act={#$act#}&amp;status=3" {#if $smarty.get.status=="3"#}class="select"{#/if#}>已到期的</a>
			  <div class="clear"></div>
			  </div>
	    <form id="form1" name="form1" method="post" action="?act=jobs_perform">
    <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="link_lan" id="list">
              <tr>
                <td height="26" class="us_list_title"><label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />职位名称</label></td>
                <td width="80" align="center" class="us_list_title">审核状态</td>
                <td width="80" align="center" class="us_list_title">职位状态</td>
                <td width="150" align="center" class="us_list_title">有效时间</td>
                <td width="90" align="center"  class="us_list_title">刷新日期</td>
                <td width="50" align="center"  class="us_list_title">点击</td>
                <td width="50" align="center" class="us_list_title" >编辑</td>
              </tr>
			  {#foreach from=$jobs item=li#}
              <tr>
                <td height="32" class="us_list">
				<input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a>
				 {#if $li.stick=="1"#}
				 <span style="color: #FF6600">[置顶]</span>
				 {#/if#}
				{#if $li.emergency=="1"#} <img src="{#$QISHI.site_template#}images/61.gif" border="0" align="absmiddle" />{#/if#}
				{#if $li.recommend=="1"#} <img src="{#$QISHI.site_template#}images/62.gif" border="0" align="absmiddle" />{#/if#}
				</td>
                <td align="center" class="us_list" >
				{#if $li.audit==1#}
				审核通过
				{#elseif  $li.audit==2#}
				<span style="color: #FF6600">审核中</span>
				{#else#}
				<span style="color: #FF0000">审核未通过</span>
				{#/if#}
				</td>
                <td align="center" class="us_list">
				{#if $li.display==1#}招聘中{#else#}<span style="color:#009900">暂停招聘</span>{#/if#}
				</td>
                <td   class="us_list">
				{#if $li.deadline=="0"#}
				<span style="color:#FF6600">已经到期</span>
				{#else#}
				{#$li.addtime|date_format:"%Y.%m.%d"#}≈{#$li.deadline|date_format:"%Y.%m.%d"#}
				{#/if#}
				</td>
                <td align="center"  class="us_list">
				{#$li.refreshtime|date_format:"%Y.%m.%d"#}
				</td>
                <td align="center"  class="us_list">
				{#$li.click#}
				</td>
                <td align="center"  class="us_list">
				<a href="?act=editjobs&id={#$li.id#}">修改</a>
		
				</td>
              </tr>
			 {#/foreach#}
          </table>
			{#if $jobs#}
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td>
				
				<input type="submit" name="refresh" value="刷新职位" class="user_submit"  {#if $points_rule.jobs_refresh>0#} onclick="return confirm('提升职位排名每次消耗 {#$points_rule.jobs_refresh#} {#$QISHI.points_quantifier#}{#$QISHI.points_byname#}，确定提升吗？')"{#/if#}/>
               &nbsp;
                  <input type="submit" name="display1" value="设为开始" class="user_submit" />
           &nbsp;
                  <input type="submit" name="display2" value="设为暂停" class="user_submit"  />
				  {#if $setmeal #}
		   &nbsp;
                  <input type="submit" name="jipin1" value="设为急聘" class="user_submit" />
           &nbsp;
                  <input type="submit" name="jipin2" value="取消急聘" class="user_submit"  />
				  {#/if#}
            &nbsp;
                  <input type="submit" name="delete" value="删除职位" class="user_submit"  onclick="return confirm('您确定删除吗?')"/></td>
              </tr>
          </table>
            {#else#}
			<div class="us_list_no_content">您没有发布职位！</div>
		  {#/if#}
          <table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
              <tr>
                <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
              </tr>
          </table>
        </form>
	</div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>