<script type="text/javascript">
$(document).ready(function()
{
	$('.nav').idTabs('!mouseover',function(id,s){
        var show = function(){ $.idTabs.show(id,s); }
          , cancel = function(){ clearTimeout(timer); }
          , timer = setTimeout(show,100);
        s.tab(id).one("mouseout",cancel);
        return false;
      });
	$("#tabshow li>a").click(function(){
	window.location.href=$(this).attr("id");
	});
	//常用入口
	$(".channel").mouseover(function(){
	 	$(".channel").parent().parent().before("<div class=\"menu_bg_layer\"></div>");
		$(".menu_bg_layer").height($(document).height());
		$(".menu_bg_layer").css({ width: "100%", position: "absolute", right: "0", top: "0" , "z-index": "0","background-color":""});	
		$("#channelshow").show();
		$("#channelshow li").hover(
		function()
			{
			$(this).css("background-color","#E3F4FD");
			},
			function()
			{
			$(this).css("background-color","");
			}
		);
		$(".menu_bg_layer").mousemove(function(){
		$("#channelshow,.menu_bg_layer").hide();
		});
	});
	$(".user_submit").hover(function()	{$(this).addClass("user_submit_on")},function(){$(this).removeClass("user_submit_on")});
	$(".user_long_submit").hover(function(){$(this).addClass("user_long_submit_on")},function(){$(this).removeClass("user_long_submit_on")});
	$('#chkAll').click(function(){$("#form1 :checkbox").attr('checked',$("#chk").attr('checked'))});
	$("#list tr:gt(0)").hover(
		function()
			{
			$(this).css("background-color","#F5FCFE");
			},
			function()
			{
			$(this).css("background-color","");
			}
		);
	$("input[type='text']").focus(function(){
	$(this).css("border-color","#33CCFF");
	});
	$("input[type='text']").blur(function(){
	$(this).css("border-color","");
	});
});
</script>
{#include file="top_nav_user.htm"#}
<div class="head">
<div class="head_logo"><a href="{#$QISHI.site_dir#}"><img src="{#$QISHI.upfiles_dir#}{#$QISHI.web_logo#}" alt="{#$QISHI.site_name#}" border="0" align="absmiddle" /></a>
{#if $QISHI.subsite=="1"#}
		  <div class="citydiv">
				<div class="subbox"><u>{#$smarty.get.district_cn#}</u></div>
				<div class="citybox">
					{#foreach from=$QISHI.district_array item=li#}
					<a href="{#$li.url#}">{#$li.subsite#}</a>
					{#/foreach#}
				</div>
		  </div>
		  <script type="text/javascript">
			$(".citydiv").hover(
			function(){
			$(".citydiv .subbox").css("border-color","#FF9900");
			$(".citydiv .subbox").css("border-bottom-width","0px");
			$(".citydiv .citybox").show();
			},
			function(){
			$(".citydiv .subbox").css("border-bottom-width","1px");
			$(".citydiv .subbox").css("border-color","#D8D8D8");
			$(".citydiv .citybox").hide();
			}
			);
			</script>
{#/if#}
</div>
<div class="head_logo_right">
</div>
<div class="clear"></div>
</div>
<!--导航 -->
<div class="nav_outer">
<div class="nav idTabs" id="tabshow">
	<ul>
		<li id="top_nav_home"><A href="#tab_home" id="?act=">中心首页</A></li>
		<li id="top_nav_jobs"><A href="#tab_jobs" id="?act=addjobs">职位管理</A></li>
		<li id="top_nav_ser"><A href="#tab_ser" id="?act=setmeal_list">服务中心</A></li>
		<li id="top_nav_rec"><A href="#tab_rec" id="?act=apply_jobs">招聘管理</A></li>
		<li id="top_nav_com"><A href="#tab_com" id="?act=company_profile">公司资料</A></li>
		<li id="top_nav_acc"><A href="#tab_acc" id="?act=userprofile">账户管理</A></li>
	</ul>
	<div class="clear"></div>
</div>

	<div class="nav_bottom_left"></div>
	<div class="nav_bottom_center">
	<!--常用通道 -->
		  <div class="channel">常用入口</div>
		  <div class="channelshow" id="channelshow">
			<div class="outer">
			  <div class="hovertitle chshow">常用入口</div>
			  <div class="channellist chshow">
			  <ul class="link_bk">
			  <li><a href="{#$QISHI.site_dir#}">网站首页</a></li>
			  <li><a href="{#"QS_resumelist"|qishi_url#}"  target="_blank">搜索人才</a></li>
			  <li><a href="?act=addjobs">发布招聘</a></li>
			  <li><a href="?act=jobs">管理已发布</a></li>
			  <li><a href="?act=apply_jobs">收到的职位申请</a></li>
			  <li><a href="?act=favorites_list">企业人才库</a></li>
			  </ul>
			  </div>
			</div>
		  </div>
	  <!--常用通道 end -->
	  <!--下拉菜单 -->
		<div id="tab_home" style="display:none; padding-left:8px;">
		<span style="color:#FFFFFF">欢迎您登录会员中心</span>
		</div>
		<div id="tab_jobs" style="display:none;padding-left:75px;">
		<a href="?act=addjobs">发布职位</a>
		<a href="?act=jobs">管理职位</a>
		</div>
		<div id="tab_ser" style="display:none; padding-left:140px;">
		{#if $QISHI.operation_mode=="2"#}
		<a href="?act=setmeal_list">申请VIP会员</a>	
		{#/if#}	
		<a href="?act=order_list">订单管理</a>
		<a href="?act=feedback">意见建议</a>
		</div>
		<div id="tab_rec"  style="display:none; padding-left:120px;">
		<a href="{#"QS_resumelist"|qishi_url#}"  target="_blank">搜索人才</a>
		<a href="?act=down_resume_lsit">我下载的简历</a>
		<a href="?act=apply_jobs">收到的职位申请</a>
		<a href="?act=interview_lsit">我发起的面试邀请</a>
		<a href="?act=favorites_list">企业人才库</a>
		</div>
		<div id="tab_com" style="display:none; padding-left:280px;">
		<a href="?act=company_profile">基本资料</a>
		<a href="?act=company_auth">营业执照</a>
		<a href="?act=company_logo">企业Logo</a>
		<a href="?act=company_map">电子地图</a>
		<a href="?act=tpl">企业模版</a>
		</div>
		<div id="tab_acc" style="display:none; padding-left:350px;">
		<a href="?act=userprofile">个人资料</a>
		<a href="?act=user_email">邮箱认证</a>
		{#if $sms.open=="1"#}
		<a href="?act=user_mobile">手机认证</a>
		{#/if#}
		<a href="?act=user_status">账户状态</a>
		<a href="?act=password_edit">密码修改</a>
		<a href="{#"QS_login"|qishi_url#}?act=logout">安全退出</a>
		</div>
	</div>
	<div class="nav_bottom_right"></div>
	<div class="clear">
</div>