body {margin:0;font-size:12px;color:#666;font-family:Arial, Helvetica, sans-serif; background-color:#ffffff;}
h1,h2,h3,h4,h5,form,p,ul{ margin:0;padding:0;}
li{padding:0px; margin:0px;list-style-type:none;}
input {font-family:Arial, Helvetica, sans-serif;font-size:12px; color: #666666;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px;}

a.website {font-weight:bold;color:#000;padding-left:5px;padding-right:10px;line-height:33px;text-decoration:none;}
a.website:hover {color:#f00;text-decoration:underline;}
#top_loginform a ,#top_loginform a:link ,#top_loginform a:visited ,#top_loginform a:active {color: #0066CC;text-decoration: none;}
#top_loginform a:hover {color: #009900;text-decoration: underline;}
.top_nav a{background-image: url(../images/food_list2.gif);background-repeat: no-repeat;background-position: left 1px;width: 100px;padding-left: 14px;font-family: "新宋体";line-height: 33px;color:#000;text-decoration: none;margin-right: 10px;font-weight: normal;}


.link_lan a:link {color: #0066CC;text-decoration: none;}
.link_lan a:visited {text-decoration: none;color: #0066CC;}
.link_lan a:hover {text-decoration: underline;color: #009900;}
.link_lan a:active {text-decoration: none;color: #0066CC;}

.link_bk a:link {color: #666; text-decoration: none;}
.link_bk a:visited {text-decoration: none;color: #666;}
.link_bk a:hover {text-decoration: underline;color: #0066CC;}
.link_bk a:active {text-decoration: none;color: #666;}

.link_b2 a:link {color: #999999;	text-decoration: none;}
.link_b2 a:visited {text-decoration: none;color: #999999;}
.link_b2 a:hover {text-decoration: underline;color: #0066CC;}
.link_b2 a:active {text-decoration: none;color: #999999;}

.link_white {color: #ffffff; font-size:12px;}
.link_white a:link {color: #ffffff;	text-decoration: none;}
.link_white a:visited {text-decoration: none;color: #ffffff;}
.link_white a:hover {text-decoration: underline;color: #ffffff;}
.link_white a:active {text-decoration: none;color: #ffffff;}
/*顶部*/
.head_top{ width:100%; background:url(../images/top_bg.jpg); background-repeat:repeat-x; height:33px;}
.head_top_box{width:960px;  margin:0 auto;height:33px; line-height:33px;}
.head_top_box_left{width:710px;height:33px; float:left}
.head_top_box_right{width:250px;height:33px; float:left; text-align:right;}
.head { width:960px;  margin:0 auto;}
/*搜索*/
.search_box_key { width: 300px; height:17px; border:1px #FF9900 solid; font-size:12px; padding-left:5px; padding-top:4px;}
/*模拟select*/
.dropDownList span{display:block;width:150px;height:17px;border:solid 1px  #FF9900; cursor:pointer; background-color:#FFFFFF;  padding-left:10px; padding-top:5px; background-image:url(../images/09.gif); background-repeat:no-repeat ;background-position: 138px 0px;}
.dropDownList span.over{border:solid 1px  #FF9900;background-image:url(../images/09.gif); background-repeat:no-repeat ;background-position: 138px -22px;}
.dropDownList ul{background: #FFFFFF;width:160px;display:none;margin:0;padding:0;list-style:none; border:1px  #FF9900 solid; }
.dropDownList ul li{height:26px;width:145px; padding-left:15px;cursor:pointer; font-size:12px; line-height:26px;}
.dropDownList ul li.over{background: #FFFF66;}
.dropDownList ul.show{display:block;}
/*导航*/
.nav{width:960px;margin:0 auto;}
.logo_nav{float:left;height:55px;width:200px;margin:5px 8px 5px 9px;display:inline;}
.logo_addition{float:left;width:200px;/*margin:36px 0 0 10px;*/display:inline;}
.logo_addition p{line-height:22px;}

#scbar{float:right;margin-top:10px;width:455px;height:44px;border:solid #E5EDF2;border-width:1px;background:url(../images/search.png) repeat-x 0 0;line-height:44px;}
#scbar td{height:42px;}
.scbar_icon_td{width:50px;background:url(../images/search.png) no-repeat 0 -74px;line-height:44px;}
.scbar_txt_td,.scbar_type_td{background:url(../images/search.png) repeat-x 0 -222px;}
.scbar_type_td{width:133px;font-size:12px;line-height:44px;}
#scbar_txt{width:180px;border:1px solid #FFF;outline:none;font-size:14px;}
.scbar_btn_td{width:67px;background:url(../images/search.png) no-repeat 0 -296px;text-align:center;line-height:44px;}
#scbar_btn{margin:0;padding:0;border:0;background:transparent none;height:31px;width:67px;cursor:pointer;line-height:30px;}
#scbar_btn strong{color:#234E9B !important;font-size:14px !important;}

.dao_nav{background:url(../images/navX.png) repeat-x;height:38px;overflow:hidden;background-repeat:repeat-x;}
.dao_nav ul{font-size:14px;padding-left:10px;}
.dao_nav li{float:left;width:88px !important;height:38px !important;line-height:42px;display:block!important;text-align:center;margin:0 !important;overflow:hidden;}
.dao_nav li.tel{float:right;width:312px !important;background:url(../images/nav_tel.png) top no-repeat;}
.dao_nav li a,.dao_nav li a:visited{text-decoration:none;float:left;color:#fff;width:88px;height:38px;font-weight:700;font-size:14px;background:url(../images/nav_btn_bg.png) top no-repeat;display:block;text-shadow:1px 1px 0px #003a66;}
.dao_nav li a:hover{text-decoration:none;color:#fff;background-position:0 -38px;}
.dao_nav .current,.dao_nav .current:hover{background-position:0 -38px;margin:0px;}
.dao_nav .current a,.dao_nav .current a:visted,.dao_nav .current:hover a,.dao_nav .current a:hover{background-position:0 -38px;display:block;text-decoration:none;text-shadow:none;}
.dao_nav .current a{background-position:0 -38px !important;}
.dao_nav li:hover a{background-position:0 -38px;}
/*当前位置*/
.page_location{ padding-left:10px; height:22px; line-height:22px;width:950px; margin:0 auto; padding-top:6px;} 
/*-----分页样式--------*/
.page {text-align:center; margin-top:15px; margin-bottom:15px;}
.page a {border: 1px solid #dddddd;display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }
.page a:hover { border:1px #0066CC solid; color: #0066CC}
.page a.select{ border: 1px solid #0066CC; background-color:#0066CC; color:#ffffff; }
.page span {border: 1px solid #dddddd;display:block;height:23px; line-height:23px; margin-right:5px; float:left;padding-left:6px; padding-right:6px;  }
/*按钮*/
.but70 { width:70px; height:25px; font-size:12px;color:#FFFFFF; border:0px; background-image:url(../images/10.jpg); background-repeat:no-repeat;}
.but70_hover{ background-position:0px -25px;}
.but80 { width:81px; height:32px; font-size:14px; font-weight:bold; color:#FFFFFF; border:0px; background-image:url(../images/36.jpg); background-repeat:no-repeat;}
.but80_hover{ background-position:0px -32px;}
.but100 { width:100px; height:32px; font-size:14px; font-weight:bold; color:#FFFFFF; border:0px; background-image:url(../images/41.jpg); background-repeat:no-repeat;}
.but100_hover{ background-position:0px -32px;}
/*底部*/
.footer {width:930px; text-align:center; padding:15px; line-height:180%; font-size:12px; margin:0 auto;}
/*-----jquery dialog css--------*/
#FloatBg{display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;}
#FloatBoxBg{display:none;background:#000;position:absolute;}
#FloatBox{border: #999999 1px solid;width:500px;position:absolute;}
#FloatBox .title{height:30px;color: #333333;background:url(../images/72.gif) repeat-x;}
#FloatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;padding:7px 10px 0;}
#FloatBox .title span{float:right;cursor:pointer; display:block;background:url(../images/72.gif) no-repeat  0px -30px; width:30px; height:30px;}
#FloatBox .title .spanhover{ background-position:0px -60px;}
#FloatBox .content{padding:20px 15px;background:#fff;}
/*-----jquery Float css--------*/
.OpenFloatBg{display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;}
.OpenFloatBoxBg{display:none;background:#666666;position:absolute;}
.OpenFloatBox{border: #999999 1px solid;width:730px;position:absolute;}
.OpenFloatBox .title{height:30px;color: #333333;background:url(../images/72.gif) repeat-x;}
.OpenFloatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;padding:7px 10px 0;}
.OpenFloatBox .title .DialogClose{float:right;cursor:pointer; display:block;background:url(../images/72.gif) no-repeat  0px -30px; width:30px; height:30px;}
.OpenFloatBox .title .spanhover{ background-position:0px -60px;}
.OpenFloatBox .tip{height:30px;color: #FF6600;background:url(../images/72.gif)  no-repeat  0px -90px; padding-left:26px; line-height:30px;background-color:#FFFFFF}
.OpenFloatBox .selecteditem{ display:none; background-color: #FFFEEE; border:1px #FF9966 solid;width:100%;color: #FF0000; padding:10px 0px;}
.OpenFloatBox .selecteditem .empty{ color: #0066CC; cursor:pointer}
.OpenFloatBox .selecteditem label{ display:block;  width:145px; float:left;margin-right:5px; padding-left:5px;color:#339900; cursor:pointer}
.OpenFloatBox .txt{ padding:15px; padding-top:0px;}
.OpenFloatBox .content{background-color:#FFFFFF; width:100%;}
.OpenFloatBox .content .item{ width:170px;height:20px;margin-right:5px; float:left; cursor:pointer;}
.OpenFloatBox .content .item .titem{ display:block; position:absolute; width:170px; z-index:1;}
.OpenFloatBox .content .item .titemhover{ border:1px #FF9900 solid; background-color:#FFFEF0; color:#FF6600; font-weight:bold}
.OpenFloatBox .content .item .sitem{position:absolute; display:none; border:1px  #00CCFF solid; width:170px;  background-color:#999999;z-index:2; margin-top:20px; border:1px #FF9900 solid;background-color:#FFFEF0;border-top:0px;}
.OpenFloatBox .content .item .sitem label{ padding-bottom:5px; line-height:23px;}
/*ajax-会员登录*/
.ajax_login_tit{ padding-left:10px ; font-weight:bold; height:28px ; line-height:28px; color:#0066CC; font-size:14px; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_login_input { width:165px; padding:3px; vertical-align:middle;font-family:Arial, Helvetica, sans-serif; font-size:12px; height:18px; line-height:16px;border:1px #CCCCCC solid;}
.ajax_login_err{ padding:5px; border:1px #FF3300 solid; background-color:#FFF3EE; margin-bottom:8px; margin-top:5px; background-image:url(../images/37.gif); padding-left:22px; background-repeat:no-repeat; background-position:5px 6px;  display:none; color:#000000}
/*ajax-申请职位*/
.ajax_app_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_app_tip span{ color:#FF0000}
.ajax_app {}
.ajax_app li{ float:left; padding-right:15px; margin-bottom:5px; width:150px;}
/*ajax-下载简历*/
.ajax_download_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_download_tip span{ color:#FF0000}
/*ajax-邀请面试*/
.ajax_invited_tip {padding-left:10px ;  height:26px ; line-height:26px; color:#0066CC; border:1px #C1E4F7 solid; background-color:#F1F9FE; margin-bottom:15px;}
.ajax_invited_tip span{ color:#FF0000}
/*友情链接*/
.links { width:960px;margin:0 auto; margin-top:8px}
.links a{ height:23px; line-height:23px; padding-right:8px;}
.links .imglink{ width:88px; height:31px;padding-right:8px; padding-top:4px;padding-bottom:4px;float:left;}
/*框计算*/
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; line-height:160% }
.autocomplete { border:1px solid #CCCCCC; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
/*-----jquery tip--------*/
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size:12px; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999; line-height:170% }
.comvtipshow { position: absolute; left: 0px; top:10px; font-size:12px;  z-index: 9999 ; line-height:180%; width:210px; }
.comvtipshow .tit {background:url(../images/85.gif) no-repeat 0px 0px; height:6px; width:100%; margin-top:8px; overflow:hidden}
.comvtipshow .txt { border:1px #CCCCCC solid; border-top:0px; background-color: #ffffff; width:100%}
.comvtipshow .txt .tits {background:url(../images/85.gif) repeat-x 0px -7px; height:28px; line-height:28px; padding-left:10px; font-weight:bold}
.comvtipshow  ul { padding-left:10px; padding-top:5px; padding-bottom:8px;}
.comvtipshow  li {padding-left:8px; height:20px; line-height:20px;background:url(../images/01.gif) no-repeat 0px -32px;}
.comvtipshow  li span{ color:#999999}
.comvtipshow  li a{ color:#2d79cf !important}