<table width="214" border="0" cellspacing="0" cellpadding="8" align="center"  class="link_lan">
<tr>
<td align="center" width="214"><div style="height:18px; overflow:hidden;"><a href="{#$user_url#}" style="color:#339900">{#$username#}</a>&nbsp;欢迎！</div></td>
</tr>
<tr>
<td align="center"><a href="{#$user_url#}" style=" display:block;width:150px; height:24px; background-color:#FF9900; color:#FFFFFF; border:1px #990000 solid ; text-align:center; line-height:24px;">[会员中心]</a></td>
</tr>
<tr>
  <td align="center"><a href="{#$user_url#}?act=logout" style=" display:block;width:150px; height:24px; background-color:#eeeeee; color:#888888; border:1px #888888 solid ; text-align:center; line-height:24px;">[退出登录]</a></td>
  </tr>
</table>