<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/user.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>

<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#tabshow li:nth-child(2)>a").addClass("selected");
});
</script>
<body>
{#include file="member_personal/header.htm"#}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:8px;" >
  <tr>
    <td width="173" valign="top" class="link_bk">
	{#include file="member_personal/left.htm"#}
	</td>
    <td valign="top">
	<div class="user_right_box">
		<div class="user_right_top_tit_bg">		
		  <h1>Resume Preview - <span style="color:#FF6600">{#$resume_basic.title#}</span></h1>
		</div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
	  <tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Resume Settings</strong></span></td>
          </tr>
		  <tr>
          <td style="border-bottom:1px #C9D9E7 solid;">
		  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="link_lan">
		    <tr>
              <td height="30" class="link_lan">Resume Title：{#$resume_basic.title#}&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}" >[Privacy Settings]</a> </td>
              <td class="link_lan">Resume Privacy：
			  {#if $resume_basic.display=="1"#}
			  Open&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}"  >[Edit]</a> 
			  {#else#}
			  Not Open&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}" >[Edit]</a> 
			  {#/if#}</td>
	            </tr>
            <tr>
              <td height="30" class="link_lan">Full Name：
			  {#if $resume_basic.display_name == "2"#}
			  {#$resume_basic.number#}&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}"  >[Name Display Type]</a> 
			  {#elseif $resume_basic.display_name == "3"#}
			  {#$resume_basic.lastname#}&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}"  >[Name Display Type]</a> 
			  {#else#}
			  {#$resume_basic.fullname#}&nbsp;&nbsp;&nbsp; <a href="?act=resume_privacy&pid={#$resume_basic.id#}"  >[Name Display Type]</a>
			  {#/if#}			 </td>
              <td>
			  Auditing Status：
			  {#if $resume_basic.audit=="1"#}Passed{#/if#}
			{#if $resume_basic.audit=="2"#}Auditing{#/if#}
			{#if $resume_basic.audit=="3"#}Not Passed{#/if#}
			</td>
              </tr>
            <tr>
              <td height="30" >
			  Completed Percent：{#$resume_basic.complete_percent#}%
			  <span style="color: #999999">(完整指数小于60%的简历系统将视为无效简历)</span>
			  </td>
              <td>Photo Status：
			   {#if $resume_basic.photo_img<>""#}
				  {#if $resume_basic.photo_audit=="1"#}Passed{#/if#}
				  {#if $resume_basic.photo_audit=="2"#}Auditing{#/if#}
				  {#if $resume_basic.photo_audit=="3"#}Not Passed{#/if#}
				  {#else#}
					No Photo
				  {#/if#}			  </td>
            </tr>
            <tr>
              <td height="30" class="link_lan">
			  Created On：{#$resume_basic.addtime|date_format:"%Y.%m.%d"#}</td>
              <td>Photo Privacy：
			  {#if $resume_basic.photo_img<>""#}
				  	 {#if $resume_basic.photo_display=="1"#}
				     Open&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}" >[Settings]</a> 
					 {#else#}
					 Not Open&nbsp;&nbsp;&nbsp;<a href="?act=resume_privacy&pid={#$resume_basic.id#}" >[Settings]</a> 
				  	{#/if#}
					{#else#}
					No Photo
				  {#/if#}			  </td>
            </tr>
            <tr>
              <td height="30" >
			  Refreshed Time：{#$resume_basic.refreshtime|date_format:"%Y.%m.%d %H:%M"#}&nbsp;&nbsp;&nbsp;<a href="?act=refresh" >[Refresh]</a> 
			  &nbsp;&nbsp;&nbsp;<span style="color: #999999">(刷新可以提升简历排名)</span>
			  </td>
              <td>Resume Leve：
			  {#if $resume_basic.talent=="2"#}
			  <span style="color:#FF6600">High Level</span>
			  {#else#}
				  Normal&nbsp;&nbsp;&nbsp;<a href="?act=talent" >[升级]</a> 
				  {#/if#}
				  </td>
            </tr>
            <tr>
              <td height="30" >
			 Revied Count：{#$resume_basic.click#}
			  </td>
              <td></td>
            </tr>
          </table>
		  </td>
        </tr>
        <tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Basic Information</strong></span></td>
          </tr>
        <tr>
          <td height="22" style="border-bottom:1px #C9D9E7 solid;">
		  
		  
		  
		  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="3">
            <tr>
              <td valign="top">
			  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="8">
		    <tr>
              <td class="link_lan">Full Name：
			  {#if $resume_basic.display_name == "2"#}
			  {#$resume_basic.number#}
			  {#else#}
			  {#$resume_basic.fullname#}
			  {#/if#} </td>
              <td class="link_lan">Gendor：{#$resume_basic.sex_cn#}</td>
	            </tr>
            
            <tr>
              <td>Age：{#$resume_basic.age#} Years Old</td>
              <td>Stature：
			  {#if $resume_basic.height=="0"#}
			  N/A
			  {#else#}
			  {#$resume_basic.height#} CM
			  {#/if#}			  </td>
              </tr>
            <tr>
              <td>Degree：{#$resume_basic.education_cn#}</td>
              <td>Marriage：{#if $resume_basic.marriage==1#}Single{#/if#}{#if $resume_basic.marriage==2#}Married{#/if#}{#if $resume_basic.marriage==3#}Keep Secret{#/if#}</td>
              </tr>
            <tr>
              <td>Yrs. Of Experience：{#$resume_basic.experience_cn#}</td>
              <td>Hoursehold place：{#$resume_basic.householdaddress#}</td>
              </tr>
            <tr>
              <td>Phone：{#$resume_basic.telephone#}</td>
              <td>Email：
			  {#$user.email#}
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  {#if $user.email_audit=="1"#}
			<a href="personal_user.php?act=user_email" style="color:#009900"> [Verified]</a>
			{#else#}
			<a href="personal_user.php?act=user_email"> [Click To Verify]</a>
			{#/if#}			  </td>
              </tr>
            <tr>
              <td> Q Q：{#$resume_basic.qq#}</td>
              <td>Address：{#$resume_basic.address#}</td>
            </tr>

			<tr>
			  <td colspan="2">Blogs：{#$resume_basic.website#}</td>
			  </tr>
			<tr>
			  <td colspan="2">Tags：{#$resume_basic.tagcn#}</td>
			  </tr> 
          </table>
			  </td>
              <td width="150" style="position:relative">
			  
			  <div style="position:absolute; right:10px; top:10px;">
			  <table border="0" align="center" cellpadding="0" cellspacing="1" style="line-height:180%" >
                <tr>
                  <td><table border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" class="link_lan">
                    <tr>
                      <td bgcolor="#FFFFFF">{#if $resume_basic.photo_img<>""#} <img src="{#$QISHI.resume_photo_dir_thumb#}{#$resume_basic.photo_img#}?wd={#$random#}" />{#else#}<img src="{#$QISHI.resume_photo_dir_thumb#}no_photo.gif" />{#/if#}</td>
                    </tr>
                    
                  </table></td>
                </tr>
                <tr>
                  <td height="35" align="center" class="link_lan">
				  <a href="?act=photo_cutting&show=ok&pid={#$resume_basic.id#}">Change Photo</a>				  </td>
                </tr>
              </table>
			  </div>
			  
			  </td>
            </tr>
          </table>
		
			</td>
        </tr>
        <tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Job Target</strong></span></td>
        </tr>
        <tr>
          <td style="border-bottom:1px #C9D9E7 solid;">
		    {#if $resume_basic.intention_jobs#}
		  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="10">
            <tr>
              <td>Recent Job：{#$resume_basic.recentjobs#}</td>
              </tr>
            <tr>
              <td>Target Job Nature：{#$resume_basic.nature_cn#}</td>
              </tr>
			  <tr>
              <td >Target Job Area：{#$resume_basic.district_cn#}</td>
              </tr>
            <tr>
              <td>Target Area：{#$resume_basic.wage_cn#}</td>
            </tr>
            <tr>
              <td>Target Job Category：{#$resume_basic.intention_jobs#}</td>
            </tr>
            <tr>
              <td>Target Industry：{#$resume_basic.trade_cn#}</td>
            </tr>
          </table>
		   {#else#}
			<div style="height:40px; line-height:40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N/A。</div>
            {#/if#}
			
		  </td>
        </tr>
		<tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Self Assessment</strong></span></td>
        </tr>
		<tr>
          <td   style="border-bottom:1px #C9D9E7 solid;">
		  {#if $resume_basic.specialty#} 
		  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="10">
            <tr>
              <td style="line-height:180%"> {#$resume_basic.specialty|nl2br#}</td>
              </tr>
          </table>
		  {#else#}
			<div style="height:40px; line-height:40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N/A。</div>
            {#/if#}
		  </td>
        </tr>
		<tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Education Experience</strong></span></td>
        </tr>
		<tr>
          <td   style="border-bottom:1px #C9D9E7 solid;">
          	  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="10">
            <tr>
              <td style="line-height:180%">
		  {#if $resume_education#}
		  {#$resume_education.education_remark#}
           
			{#else#}
			N/A
            {#/if#} 
             </td></tr>
          </table>
			</td>
        </tr>
		<tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Job Experience</strong></span></td>
        </tr>
		<tr>
		  <td  style="border-bottom:1px #C9D9E7 solid;">
		  	  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="10">
            <tr>
              <td style="line-height:180%">
		  {#if $resume_work#}
		  {#$resume_work.work_remark#}
           
			{#else#}
			N/A
            {#/if#} 
             </td></tr>
          </table>
			</td>
		  </tr>
		  <tr>
          <td height="30" bgcolor="#F5FAFC"  style="border-bottom:1px #C9D9E7 solid;"><span style="color:#0066CC; padding-left:20px;"><strong>Training Experience</strong></span></td>
        </tr>
		  <tr>
		    <td>
		    	  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="10">
            <tr>
              <td style="line-height:180%">
		  {#if $resume_training#}
		  {#$resume_training.training_remark#}
           
			{#else#}
			N/A
            {#/if#} 
             </td></tr>
          </table>
			 </td>
	      </tr>
      </table>
        <div align="center" style="padding:15px; padding-top:6px;">
		    <input name="" type="button" value="Edit" class="but80"  onclick="window.location='?act=make1&pid={#$resume_basic.id#}&go_resume_show=1'" />		    
		    </div>
		  </div>
    </td>
  </tr>
</table>
{#include file="footer.htm"#}
</body>
</html>
