<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会员注册 -  {#$QISHI.site_name#}</title>
<meta http-equiv="Cache-Control" content="no-cache" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
{#include file="wap/header.htm"#}
<div class="wap_tit">
个人会员注册
</div>
{#if $err#}
<br />
<div class="wap_logo_err">{#$err#}</div>
{#/if#}
<form action="?act=do_reg" method="post">
<div class="wap_txt link_lan">
用户名：<br />
<input name="username" type="text" /><br />
密码：<br />
<input name="password" type="password" />
<br />
再次输入密码：<br />
<input name="password1" type="password" />
<br />
常用邮箱：<br />
<input name="email" type="text" /><br />
<input type="submit" name="Submit" value="注册" />
</div>
</form>
{#include file="wap/footer.htm"#}
</body>
</html>
