@charset "gb2312";
/* CSS Document */

/*font size*/
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.f12b{
	font-size:12px;
	font-weight:bold;
}
.f14b{
	font-size:14px;
	font-weight:bold;
}

/*normal font*/
.black_n{
	color:#666;
}
.grey_n{
	color:#999;
}
.red_n{
	color:#F00;
}
.deep_red_n{
	color:#C00;
}
.light_red_n{
	color:#ffd4d4;
}
.white_n{
	color:#fff;
}
.blue_n{
	color:#69F;
}
/*link font*/

.white a{
	color:#FFF;
	text-decoration:none;
}
.white a:hover{
	color:#FC0;
}
.orange{
	color: #F90;
	text-decoration:none;
}
.orange:hover{
	color:#FC0;
}
.green {
	color: #3C0;
	text-decoration:none;
}
.green:hover{
	color:#390;
}
.red{
	color:#F00;
	text-decoration:none;
}
.red:hover{
	color:#F00;
}
.red_l a{
	color:#F00;
	text-decoration:none;
}
.red_l a:hover{
	color:#F90;
}
.black_l a{
	color:#333;
	text-decoration:none;
}
.black_l a:hover{
	color: #666;
}
.grey_l a{
	color: #999;
	text-decoration:none;
}
.grey_l a:hover{
	color:#666;
}
.deep_grey_l a{
	color: #767676;
	text-decoration:none;
}
.deep_grey_l a:hover{
	color:#666;
}
.blue_l a{
	color:#158bd9;
	text-decoration:none;
}
.blue_l a:hover{
	color:#3CF;
}
.img_button a:hover img{
	filter:alpha(opacity=80);
}