@charset "gb2312";
/* CSS Document */

body {
	margin:0;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}
div {
		/*border:1px solid #999;*/

}
img {
	border:none;
}
form,ul,h1,h2,h3,h4,h5,h6,dl,dd,dt,li,span{
	margin:0px;
	padding:0px;
	border:0px;
}
.clear{
	clear:both;
}

.main_frame{
	width:985px;
	margin:auto;
}
.line{
	clear:both;
	height:8px;
}
.vline{
	width:8px;
	height:100%;
}
.left {
	float:left;
}
.right{
	float:right;
}
.content{
	margin:3px;
	
}
.content ul{
	padding:2px;
}
.content ul li{
	line-height:21px;
}
.ver_line{
	height:10px;
	clear:both;
}
.hor_line{
	width:11px;
	height:3px;
}
li{
	list-style-type:none;
}