@charset "gb2312";
/* CSS Document */

/*web_top.top_line*/
.top_line_bg{
	height:39px;
	line-height:32px;
	background:url(../images/top_line_bg.jpg) repeat-x;
} 

.top_middle{
	height:100px;
}

#logo_box{
	width:327px;
}
#logo{
	margin:0px 30px;
}
#top_split{
	width:22px;
	height:100px;
	background:url(../images/top_split.jpg) no-repeat;
}
#top_banner_box{
	width:577px;
	height:66px;
	padding:17px 29px;
}
#top_banner{
	width:575px;
	height:64px;
	border:1px solid #999;
}

/*main_nav*/
#main_nav{
	height:32px;
	line-height:32px;
}
#main_nav .nav_bg_left{
	width:3px;
	height:32px;
	background:url(../images/nav_grey_bg.gif) no-repeat;
	background-position:top 0px left 0px;
}
#main_nav .nav_bg_mid{
	width:979px;
	height:32px;
	background:url(../images/nav_grey_bg.gif) repeat-x 0px -32px;
}
#main_nav .nav_bg_right{
	width:3px;
	height:32px;
	background:url(../images/nav_grey_bg.gif) no-repeat -6px 0px;
}
#nav ul {
	margin-left:20px;
}
#nav ul li{
	float:left;
	list-style-type:none;
	text-align:center;
}
#nav ul li a{
	display:block;
}
.nav_normal{
	width:75px;
	height:32px;
	line-height:35px;
	
}
.nav_normal a{
	color:#158bd9;
	text-decoration:none;
}
.nav_normal a:hover{
	color:#3CF;
}
.nav_selected{
	width:100px;
	height:32px;
	background:url(../images/nav_selected.jpg) no-repeat;
	line-height:32px;
	text-indent:-3px;
	
}
.nav_selected a{
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
.nav_selected a:hover{
	color:#91d3ff;
}
/*header_line*/
.header_line{
	height:10px;
	background:url(../images/header_line.jpg) repeat-x;
}

/*web_body*/
#blue_box{
	height:124px;
	background:url(../images/blue_box.jpg) no-repeat;
}
#button_box{
	width:211px;
	height:124px;
}
#button_box ul{
	margin:10px 15px;
}
#button_box ul li{
	width:183px;
	height:29px;
	margin-bottom:5px;
	list-style-type:none;
}
#button_box ul li a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8; 
}

#split_line{
	width:1px;
	height:124px;
	background:url(../images/split_line.jpg) no-repeat;
}

/*search*/
#search_box{
	width:366px;
	height:124px;
}
#search_box ul{
	padding:10px 20px;
}
#search_box ul li{
	height:33px;
	line-height:33px;
	list-style-type:none;
}
#search_box ul li select{
	width:150px;
	vertical-align: middle;
}
#search_box ul li label{
	vertical-align: middle; 
}
.advance_search{
	width:92px;
	height:26px;
	border:0px;
	background:url(../images/advance_search.gif) no-repeat;
}
.resume_search{
	width:92px;
	height:26px;
	border:0px;
	background:url(../images/search_button.gif) no-repeat;
}

/*hot_cate*/
#hot_cate{
	width:407px;
	height:124px;
}
#hot_cate ul{
	margin:10px 0px;
}
#hot_cate ul li{
	list-style-type:none;
	line-height:30px;
}

/*s_comment*/
#s_comment{
	width:217px;
	height:189px;
	border:1px solid #48ace1;
}
#s_comment .blue_bar{
	height:31px;
	*line-height:20px;
	width:215px;
	background:url(../images/blue_bar_bg.jpg) repeat-x;
	margin:1px;
}
#s_comment .blue_bar ul{
	padding-top:5px;
}
#s_comment .blue_bar ul li{
	margin-left:5px;
	float:left;
}

/*hot_left_ad*/
#hot_left_ad{
	margin-top:9px;
}
#hot_left_ad ul li{
	width:217px;
	height:50px;
	border:1px solid #c0c4cd;
	margin-top:3px;
}

/*hot_job_info*/
#hot_job_info{
	width:755px;
	height:415px;
	border:1px solid #c0c4cd;
}
#hot_job_info .hot_job_bar{
	height:32px;
	line-height:22px;
	background:url(../images/hot_job_bar_bg.jpg) repeat-x;
}
#hot_job_info .hot_job_bar ul{
	padding:6px;
}
#hot_job_info .hot_job_bar ul li{
	text-indent:5px;
}
#hot_job_info .content ul{
	width:245px;
	float:left;
}
/*hot_ad*/
#hot_ad{
	height:160px;
}
#hot_ad ul li{
	width:187px;
	height:70px;
	border:1px solid #d4d4d4;
	float:left;
	list-style-type:none;
	margin-right:10px;
	margin-top:8px;
}

/*new_resume*/
#new_resume{
	width:748px;
	height:574px;
	border:1px solid #48ace1;
}
#new_resume .resume_bar{
	width:746px;
	height:32px;
	margin:1px;
	background:url(../images/new_resume_bg.jpg) repeat-x;
}
#new_resume .resume_bar ul li{
	line-height:32px;
	text-align:center;
	margin-right:10px;
}
#new_resume .content{
	clear:both;
}
#new_resume .content ul{
	overflow:auto;
}
#new_resume .content ul li{
	height:23px;
	line-height:23px;
	width:178px;
	padding:2px;
}
.grey_bg{
	background:#f4f4f4;
}

#emer_recuit{
	width:225px;
	height:330px;
	border:1px solid #d4d4d4;
}
#emer_recuit .recuit_bar{
	height:32px;
	border-bottom:1px solid #d4d4d4;
}
#emer_recuit .recuit_bar_bg{
	height:30px;
	line-height:30px;
	width:223px;
	margin:1px;
	background:url(../images/emer_bar_bg.jpg) repeat-x;
}
#emer_recuit .recuit_bar_bg ul li{
	float:left;
	text-indent:5px;
}
#emer_recuit .emer_content ul{
	height:36px;
	margin-top:6px;
	background:#f5f5f5;
	padding:8px;
}
#emer_recuit .emer_content ul li{
	height:20px;
}


/*emer_ad*/
#emer_ad ul li{
	width:225px;
	height:54px;
	border:1px solid #d4d4d4;
	margin-top:5px;
}
/*job_news*/
#news_box{
	width:236px;
	height:272px;
	border:1px solid #d4d4d4;
}
#news_box .news_bar{
	width:234px;
	height:34px;
	background:url(../images/news_bar_bg.jpg) no-repeat;
	margin:1px;
}
#news_box .news_bar ul{
	line-height:25px;
	text-indent:6px;
	margin-right:5px;
	padding-top:5px;
}
#news_box .news_content{
	width:232px;
	height:233px;
	background:#f8f8f8;
	margin:1px;
	border:1px solid #d4d4d4;
}
#news_box .news_content ul{
	padding:5px;
}
#news_box .news_content ul li{
	height:25px;
	line-height:25px;
}

/*friend_links*/
#friend_links{
	height:140px;
	border:1px solid #d4d4d4;
	
}
#friend_links .links_bar{
	height:32px;
	line-height:32px;
	background:url(../images/hot_job_bar_bg.jpg) repeat-x;
	text-indent:1em;
}
#friend_links .content ul li{
	display:inline;
	margin-right:3px;
	line-height:24px;
}
/*web_bottom*/
#web_bottom{
	height:100px;
	border-top:7px solid #1c91e0;
}
#copyright{
	line-height:30px;
	text-align:center;
	padding:10px;
}