@charset "gb2312";
/* CSS Document */

/*head css*/
.main_nav {
	color:#f6fcff;
}
.main_nav a{
	font-size:14px;
	font-weight:bold;
	color:#f6fcff;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
}
.main_nav a:hover{
	color:#fff;
	text-decoration:underline;
}

.sub_nav a{
	font-size:14px;
	font-weight:bold;
	color:#c7e9ff;
	text-decoration: none;
}
.sub_nav a:hover{
	color:#fff;
}
.blue_title h2,.blue_title{
	font-size:14px;
	font-weight:bold;
	color:#0b88d7;
}
.normal{
	color:#707070;
	font-size:12px;
}
.blue_title a{
	font-size:14px;
	color:#026eb1;
	text-decoration:none;
}
.blue_title a:hover{
	color:#0280d0;
	font-weight:bold;
}

.red_title{
	font-size:12px;
	font-weight:bold;
	color:#F00;
}
.red_title a{
	font-size:12px;
	color:#F00;
	text-decoration:none;
}
.red_title a:hover{
	color: #F90;
}
.grey_title a{
	font-size:12px;
	color: #666;
	text-decoration:none;
}
.grey_title a:hover{
	color:#333;
}
.white_title a,.white_title{
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
.white_title a:hover{
	color:#ffbe9a;
}
.green_title{
	font-size:12px;
	font-weight:bold;
	color: #393;
}