<div class="footer">
<div class="link_lan"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#$QISHI.site_domain#}');" href="javascript:">设为首页</a>
&nbsp;&nbsp;<a href="/news/">新闻资讯</a>
{#qishi_explain_list set="列表名:explain,分类ID:1"#}{#foreach from=$explain item=list#}
&nbsp;&nbsp;<a href="{#$list.url#}" target="_blank">{#$list.title#}</a>
{#/foreach#}
</div>
<!--
地址：上海浦东新区金湘路225号禹州燕海国际大厦2幢15楼 电话：021-58957686 传真：021-58956836 企业咨询:  技术支持:  售后服务:
本站信息均由求职者、招聘者自由发布,龙船招聘网不承担因内容的合法性及真实性所引起的一切争议和法律责任   -->
<div class="link_lan" id="qq"></div>
<div class="link_bk">地址：{#$QISHI.address#} 电话：{#$QISHI.bootom_tel#} 传真：021-58956836 企业咨询:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=408343893&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:408343893:10" alt="售前咨询" border="0" /></a> &nbsp;技术支持:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=2250273226&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:2250273226:10" alt="技术支持" border="0" /></a> &nbsp;售后服务:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=1694797205&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:1694797205:10" alt="售后服务" border="0" /></a></div>
<div class="link_bk">本站信息均由求职者、招聘者自由发布,龙船招聘网不承担因内容的合法性及真实性所引起的一切争议和法律责任&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">{#$QISHI.icp#}</a></div>
<?php /** <div class="link_bk"><a href="{#$QISHI.site_dir#}">{#$QISHI.site_name#}</a> 版权所有 本网站所有求职招聘信息，未经本站授权不得以任何形式转载 </div> **/ ?>
<div class="link_bk"></div>
<div style="display:none;visibility:hidden;">{#$QISHI.statistics#}</div>
</div>