<div class="footer">
<div class="link_lan"><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#$QISHI.site_domain#}');" href="javascript:">设为首页</a>
&nbsp;&nbsp;<a href="/news/">资讯中心</a>
{#qishi_explain_list set="列表名:explain,分类ID:1"#}{#foreach from=$explain item=list#}
&nbsp;&nbsp;<a href="{#$list.url#}" target="_blank">{#$list.title#}</a>
{#/foreach#}
</div>
<div class="link_lan" id="qq"></div>
<div class="link_bk">企业咨询:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=408343893&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:408343893:10" alt="售前咨询" border="0" /></a> &nbsp;&nbsp;&nbsp;&nbsp;技术支持:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=2250273226&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:2250273226:10" alt="技术支持" border="0" /></a> &nbsp;&nbsp;&nbsp;&nbsp;售后服务:<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=1694797205&amp;Site=http://www.shiphr.com&amp;Menu=yes"><img src="http://wpa.qq.com/pa?p=10:1694797205:10" alt="售后服务" border="0" /></a></div>
<div class="link_bk">地址：{#$QISHI.address#}&nbsp;&nbsp;&nbsp;&nbsp;电话：{#$QISHI.bootom_tel#}&nbsp;&nbsp;&nbsp;&nbsp;传真：021-58956836</div>
<div class="link_bk"><a href="{#$QISHI.site_dir#}">{#$QISHI.site_name#}</a> 版权所有 本网站所有求职招聘信息，未经本站授权不得以任何形式转载 <a href="http://www.miibeian.gov.cn/" target="_blank">{#$QISHI.icp#}</a></div> 
<div class="link_bk"></div>
<div style="display:none;visibility:hidden;">{#$QISHI.statistics#}</div>
</div>