<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}" />
<meta name="keywords" content="{#$page.keywords#}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link rel="shortcut icon" href="/favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/index.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.comtip-min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
  //登录
  $("form[name='loginform']").submit(function() {
  if ($("#username").val()=="")
  {
  $(".login_err").show();
  $(".login_err").html("×请填写用户名！");  
  }
  else if($("#password").val()=="")
  {
  $(".login_err").show();
  $(".login_err").html("×请填写密码！");
  }
  else
  {
    $("#login").hide();
    $("#waiting").show();
    var tsTimeStamp= new Date().getTime();
     if($("#expire").attr("checked")==true)
     {
     var expire=$("#expire").val();
     }
     else
     {
     var expire="";
     }
     //alert(expire);
    $.post("{#$QISHI.site_dir#}plus/ajax_user.php", { "username": $("#username").val(),"password": $("#password").val(),"expire":expire,"url":"{#$smarty.get.url#}","time":tsTimeStamp,"act":"do_login"},
     function (data,textStatus)
      {
      if (data=="err")
      {
      $("#waiting").hide();
      $("#login").show();
      $("#password").attr("value","");
      $(".login_err").show();
      $(".login_err").html("×用户名或者密码错误");
      }
      else
      {
        $("body").append(data);
      }
      })
  }
  return false;
  });
  
    //最新职位
    $.joblisttip("{#$QISHI.site_dir#}plus/ajax_common.php?act=joblisttip","载入中...",'comvtipshow');
    //推荐职位
    $(".commendjob .list").hover(
      function () {
        $(this).css("borderColor","#00a0e2");
      },
      function () {
        $(this).css("borderColor","");
      }
    );

});
</script>

</head>
<body>
<!----------------头部开始 ------->
{#include file="header.htm"#}
<!----------------头部结束 ------->
<div class='login_outer'>
  <div class='login_box'>
    <div class="box1">
	<span id="loginform"></span>
	<script type="text/javascript">
	//首页登录
	$.get("{#$QISHI.site_dir#}plus/ajax_user.php", {"act":"loginform"},
		function (data,textStatus)
		{
			$("#loginform").html(data);
		}
	);
	</script>
    </div>    
  </div>
  <div class='login_urgent'>
    <div class='title_urgent'>紧急招聘</div>
        <ul>
                {#qishi_jobs_list set="列表名:jobs,显示数目:9,填补字符:...,职位名长度:27,紧急招聘:1,排序:rtime>desc"#}
                {#foreach from=$jobs item=jobslist#}						
                <li>
                <a href="{#$jobslist.jobs_url#}" target="_blank">
                    {#$jobslist.jobs_name#} </a>
                </li>				
                {#/foreach#}
    </ul>
  </div>
  <div class='login_adv'>
    <div class='left_adv'><a href="/user/user_reg.php" target="_blank"><img src="/data/images/ads/reg.jpg" width="314" height="95" border="0" /></a></div>
    <div class='left_adv'><a href="http://www.tmarine.cn/" target="_blank"><img src="/data/images/ads/tmarine.jpg" width="314" height="95" border="0" /></a></div>
  </div>
  <div class="clear"></div>
</div>

<!--QQ群-->
<?php /**<div class="box_960"><img src="{#$QISHI.site_template#}images/qq.gif" border="0" width="960" height="30" /></div> */ ?>
<!-- 以下为推荐VIP广告位-->
{#qishi_ad set="显示数目:16,调用名称:QS_indexbefore_recommend_2,列表名:ad,文字长度:18"#}
{#if $ad#}
<div class="vipqy2 link_bk">
    {#foreach from=$ad item=list#}
    <div class="list2">
        <div class="imgbox"><a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain#}" /></a></div>
    </div>
    {#/foreach#}
    <div class="clear"></div>
</div>
{#/if#}
{#qishi_ad set="显示数目:16,调用名称:QS_indexbefore_recommend_4,列表名:ad,文字长度:18"#}
{#if $ad#}
<div class="vipqy link_bk">
    {#foreach from=$ad item=list#}
    <div class="list">
        <div class="imgbox"><a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain#}" /></a></div>
    </div>
    {#/foreach#}
    <div class="clear"></div>
</div>
{#/if#}
<!--以下为推荐企业-->
<div class='box_960'>
  <div class='bg_960'>
    <div class='dao_txt'>推荐企业</div>
    <div class='dao_more'><a href="{#"QS_jobs"|qishi_url#}" title="查看更多企业招聘信息">更多</a></div>
  
    <div class='dao_info'><a href="{#"QS_explainshow,3"|qishi_url#}" target="_blank">{#$QISHI.site_name#}提醒您：开通企业VIP会员,立即享受下方推荐企业服务,轻松招聘人才</a></div>
  </div>
  <div class='commendjob'>
      {#qishi_company_list set="列表名:company,显示数目:24,显示职位:4,职位名长度:32,企业名长度:17,推荐:1,排序:rtime>desc"#}
	  {#foreach from=$company item=list#}
      <div class="list">
      <a class="companyname" href="{#$list.company_url#}" title="{#$list.companyname#}" target="_blank">{#$list.companyname#}</a>
	  <!--img src="{#$QISHI.site_template#}images/vip.gif" align="absmiddle" /-->
	  <div class="jobslist">
	  {#foreach from=$list.jobs item=jobslist#}
      <a href="{#$jobslist.jobs_url#}" title="{#$jobslist.jobs_name#}" target="_blank">{#$jobslist.jobs_name#}</a>
      {#/foreach#}
	  </div>
      </div>
      {#/foreach#}
	  <div class="clear"></div>
  </div>
</div>

{#*
<!--横幅 -->
<div class="box_960"><img src="{#$QISHI.site_template#}images/tips.png" border="0" width="960" height="45" /></div>
*#}

<!--以下为最新招聘 -->
<div class='box_960'>
  <div class='bg_960'>
    <div class='dao_txt'>最新招聘</div>
    <div class='dao_more'><a href="/jobs/" title="查看更多企业招聘信息">更多最新招聘信息</a></div>
    <div class='dao_info'></div>
  </div>
  <div class="newjob">
    <div class="newjob_con">
    {#qishi_company_list set="列表名:company,显示数目:75,显示职位:2,职位名长度:25,企业名长度:13,套餐类型:2|3|4|5|6|7|8|9,排序:rtime>desc"#}
  	{#foreach from=$company item=list#}
	<span class="list">
		<span class="comtip1" id="{#$list.uid#}"><a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
        </span>
        {#foreach from=$list.jobs item=jobslist#}
		<a href="{#$jobslist.jobs_url#}" target="_blank">{#$jobslist.jobs_name#}</a>
		{#/foreach#}
	</span>
    {#/foreach#}
    </div>
    <div class="clear"></div>
  </div>
</div>
{#*通栏,横幅*}
{#qishi_ad set="显示数目:1,调用名称:QS_indexbelow_newjobs_banner,列表名:ad,文字长度:18"#}
{#if $ad#}
<div class="banner_ad">
    {#foreach from=$ad item=list#}
        <div class="imgbox"><a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain#}" /></a></div>
    {#/foreach#}
    <div class="clear"></div>
</div>
{#/if#}
 
<!--横幅 -->
{#*
<div class="box_960"><a href="http://www.jhrcw.com/user/user_reg.php?act=form&type=2" target="_blank"><img src="{#$QISHI.site_template#}images/resume_top.jpg" border="0" /></a></div>
*}

<!--以下为最新简历 -->
<div class='box_960'>
  <div class='box_637'>
    <div class='bg_637'>
      <div class='dao_txt2'>最新简历</div>
      <div class='dao_more'><a href="{#"QS_resume"|qishi_url#}" title="查看更多简历">更多</a></div>
    </div>
    <div class='zxjl'>
      <table width="619" border="0" cellspacing="0" cellpadding="0">
         <tr>
              <td width="60" bgcolor="#F2F2F2" align="center">编号</td>
              <td width="70" bgcolor="#F2F2F2">姓名</td>
              <td width="50" bgcolor="#F2F2F2">性别</td>
              <td width="65" bgcolor="#F2F2F2">年龄</td>
              <td width="60" bgcolor="#F2F2F2">学历</td>
              <td width="224" bgcolor="#F2F2F2">意向工作职位</td>
              <td width="90" bgcolor="#F2F2F2" align="center">更新日期</td>
          </tr>
{#qishi_resume_list set="列表名:resume,显示数目:16,意向职位长度:15,填补字符:...,排序:rtime>desc"#}
{#foreach from=$resume item=list#}
          <tr>
              <td align="center">{#$list.id#}</td>
              <td><a href="{#$list.resume_url#}" target="_blank">{#$list.resume_no#}</a></td>
              <td>{#$list.sex_cn#}</td>
              <td>{#$list.age#}岁</td>
              <td>{#$list.education_cn#}</td>
              <td align="left">{#$list.intention_jobs#}</td>
              <td align="center">{#$list.refreshtime|date_format:"%Y-%m-%d"#}</td>
          </tr>
{#/foreach#}
      </table>
    </div>
  </div>
  
  <div class='box_314'>
    <div class='bg_314'>
      <div class='dao_txt2'>照片简历</div>
      <div class='dao_more'><a href="{#"QS_resumelist"|qishi_url#}?photo=1" title="查看更多照片简历">更多</a></div>
    </div>
    <div class='zpjl'>
{#qishi_resume_list set="列表名:resume,显示数目:5,照片:1,特长描述长度:12,填补字符:...,排序:rtime>desc"#}
{#foreach from=$resume item=list#}
      <div class='zpjl_li'>
        <table width="296" border="0" cellspacing="0" cellpadding="0">
            <tr>
                 <td width="85" rowspan="4"><a href="{#$list.resume_url#}" target="_blank"><img src="{#$list.photosrc#}" width="70" height="90" border="1" style="border-color:#CCCCCC"/></a></td>
                 <td width="211"><span class='zpjl_info'><a href="{#$list.resume_url#}" target="_blank">{#$list.resume_no#}</a></span>&nbsp;|&nbsp;<span class='zpjl_info'>{#$list.sex_cn#}</span>&nbsp;|&nbsp;<span class='zpjl_info'>{#$list.age#}岁</span>&nbsp;|&nbsp;<span class='zpjl_info'>{#$list.education_cn#}</span></td>
            </tr>
            <tr>
                 <td><div style="float:left">求职岗位:</div>
                 <div class="zpjl_info2">{#$list.intention_jobs#}</div></td>
            </tr>
            <tr>
                 <td>特长:<span class="zpjl_info">{#$list.specialty#}</span></td>
            </tr>
            <tr>
                 <td><div align="right"><a href="{#$list.resume_url#}" target="_blank"><img src="{#$QISHI.site_template#}images/resume.gif" width="70" height="20" border="0"/></a></div></td>
            </tr>
        </table>
      </div>
{#/foreach#}
    </div>
  </div>
  <div class='clear'></div>
</div>
<!--以下为资讯 -->
<div class='box_960'>
  <div class='box_314' style="float:left; margin-right:9px;dispaly:inline;">
    <div class='bg_314'>
      <div class='dao_txt2'>{#qishi_news_category set="列表名:newscategory,资讯小类:2"#}{#$newscategory.title#}</div>
      <div class='dao_more'><a href="{#"QS_newslist,2"|qishi_url#}">更多</a></div>
    </div>
    <div class='zx_box'>
      <ul>
{#qishi_news_list set="列表名:news,显示数目:5,标题长度:16,资讯小类:2,填补字符:...,排序:id>desc"#}
{#foreach from=$news item=list#}
         <li><span>{#$list.addtime|date_format:"%Y-%m-%d"#}</span><a href="{#$list.url#}" target="_blank" title="{#$list.title#}">{#$list.title#}</a></li>
{#/foreach#}
      </ul>
    </div>
  </div>
  <div class='box_314' style="float:left; margin-right:9px;dispaly:inline;">
    <div class='bg_314'>
      <div class='dao_txt2'>{#qishi_news_category set="列表名:newscategory,资讯小类:3"#}{#$newscategory.title#}</div>
      <div class='dao_more'><a href="{#"QS_newslist,3"|qishi_url#}">更多</a></div>
    </div>
    <div class='zx_box'>
      <ul>
{#qishi_news_list set="列表名:news,显示数目:5,标题长度:16,资讯小类:3,填补字符:...,排序:id>desc"#}
{#foreach from=$news item=list#}
         <li><span>{#$list.addtime|date_format:"%Y-%m-%d"#}</span><a href="{#$list.url#}" target="_blank" title="{#$list.title#}">{#$list.title#}</a></li>
{#/foreach#}
      </ul>
    </div>
  </div>
  <div class='box_314' style="float:left;">
    <div class='bg_314'>
      <div class='dao_txt2'>{#qishi_news_category set="列表名:newscategory,资讯小类:4"#}{#$newscategory.title#}</div>
      <div class='dao_more'><a href="{#"QS_newslist,4"|qishi_url#}">更多</a></div>
    </div>
    <div class='zx_box'>
      <ul>
{#qishi_news_list set="列表名:news,显示数目:5,标题长度:16,资讯小类:4,填补字符:...,排序:id>desc"#}
{#foreach from=$news item=list#}
         <li><span>{#$list.addtime|date_format:"%Y-%m-%d"#}</span><a href="{#$list.url#}" target="_blank" title="{#$list.title#}">{#$list.title#}</a></li>
{#/foreach#}
      </ul>
    </div>
  </div>
  <div class='clear'></div>
</div>
<!-- 以下是首页底部广告-->
{#qishi_ad set="显示数目:16,调用名称:QS_indexbelow_news,列表名:ad,文字长度:18"#}
{#if $ad#}
<div class="vipqy link_bk">
    {#foreach from=$ad item=list#}
    <div class="list">
        <div class="imgbox"><a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain#}" /></a></div>
    </div>
    {#/foreach#}
    <div class="clear"></div>
</div>
{#/if#}
<!--以下为友情链接 -->
<div class='box_960'>
  <div class='bg_960'>
    <div class='dao_txt'>友情链接</div>
    <div class='dao_more2'>欢迎与百度收录正常的网站交换链接 <a href="{#$QISHI.site_dir#}link/add_link.php"  style="color: #0066CC">[申请友情连接]</a></div>
  </div>
  <div class='yqlj'>
  {#qishi_link set="列表名:link,显示数目:100,调用名称:QS_index,类型:1"#}
  {#foreach from=$link item=list#}
  <a href="{#$list.link_url#}" target="_blank">{#$list.title#}</a>
  {#/foreach#}
  </div>
</div>

<!--以下为尾部 -->
{#include file="footer.htm"#}
<!--浮动代码 -->
{#qishi_ad set="显示数目:10,调用名称:QS_indexfloat,列表名:ad"#}{#foreach from=$ad  item=float#}{#$float#}{#/foreach#}
</body>
</html>