<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#if $smarty.get.category_cn && $smarty.get.jobcategory#}{#$smarty.get.category_cn#} - {#/if#}{#if $smarty.get.district_cn && $smarty.get.citycategory#}{#$smarty.get.district_cn#} - {#/if#}{#if $smarty.get.trade_cn && $smarty.get.trade#}{#$smarty.get.trade_cn#} - {#/if#}职位列表 - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$QISHI.site_name#}企业招聘岗位,企业招聘职位列表" />
<meta name="keywords" content="{#if $smarty.get.category_cn && $smarty.get.subclass#}{#$smarty.get.category_cn#},{#/if#}{#if $smarty.get.district_cn && $smarty.get.sdistrict#}{#$smarty.get.district_cn#},{#/if#}{#if $smarty.get.trade_cn && $smarty.get.trade#}{#$smarty.get.trade_cn#},{#/if#}{#$QISHI.site_name#},职位信息" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobs.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.selectlayer.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.highlight-3.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script type="text/javascript"> 
$(document).ready(function()
{
	var key=$('#key').val();
	if (key)
	{
		key_arr=key.split(" ");
			for (x in key_arr)
			{
			if (key_arr[x]) $('.list').highlight(key_arr[x]);
			}
	}
	$(".list:odd").css("background-color","#F4F5FB");
	$(".titsub").hover(	function()	{$(this).addClass("titsub_h");},function(){$(this).removeClass("titsub_h");});
   function setbg()
   {
		$(".jid input[type='checkbox']").each(function(i){
			if ($(this).attr("checked"))
			{
				$(this).parent().parent().parent().parent().addClass("seclect");
			}
			else
			{
				$(this).parent().parent().parent().parent().removeClass("seclect");
			}
		}); 
   }
    //全选反选
	$("input[name='selectall']").click(function(){$("#formjobslist :checkbox").attr('checked',$(this).attr('checked'))});
	//点击选择后重新加样式
   $("#formjobslist input[type='checkbox']").click(function(){setbg();});
   //对比职位
  $("#contrast1,#contrast2").click(function()
  {
  		var sltlength=$("#formjobslist .list input:checked").length;
  		if (sltlength>4 || sltlength<2)
		{
		dialog("系统提示","text:请选择 2-4个职位进行对比","500","auto","text");
		}
		 else
	 	{
		var jidArr=new Array();
		 $("#formjobslist .list :checkbox[checked]").each(function(index){jidArr[index]=$(this).val();});
		 
		 $("#formjobslist").attr("action", "{#"QS_jobscontrast"|qishi_url#}?id="+jidArr.join("-"));
		 $('#formjobslist').submit();
	 	}
  });
  //批量申请职位
  $("#deliver1,#deliver2").click(function()
  {
  		var sltlength=$("#formjobslist input:checked").length;
  		if ($("#formjobslist .list input:checked").length==0)
		{
		dialog("系统提示","text:请选择职位","500","auto","text");
		}
		else
	 	{
			var jidArr=new Array();
			 $("#formjobslist .list :checkbox[checked]").each(function(index){jidArr[index]=$(this).val();});
			dialog("申请职位","url:get?{#$QISHI.site_dir#}user/user_apply_jobs.php?id="+jidArr.join("-")+"&act=app","500","auto","");
	 	}
  });
 	//单个申请职位
	$(".app_jobs").click(function(){
	dialog("申请职位","url:get?{#$QISHI.site_dir#}user/user_apply_jobs.php?id="+$(this).attr("id")+"&act=app","500","auto","");
	});
	//单个添加收藏
	$(".add_favorites").click(function(){
	dialog("加入收藏","url:get?{#$QISHI.site_dir#}user/user_favorites_job.php?id="+$(this).attr("id")+"&act=add","500","auto","");
	});
	//批量添加收藏
	  $("#collect1,#collect2").click(function()
	  {
			var sltlength=$("#formjobslist input:checked").length;
			if ($("#formjobslist .list input:checked").length==0)
			{
			dialog("系统提示","text:请选择职位","500","auto","text");
			}
			else
			{
				var jidArr=new Array();
				 $("#formjobslist .list :checkbox[checked]").each(function(index){jidArr[index]=$(this).val();});
				dialog("加入收藏","url:get?{#$QISHI.site_dir#}user/user_favorites_job.php?id="+jidArr.join("-")+"&act=add","500","auto","");
			}
	  });
});
</script>
<script type="text/javascript"> 
$(document).ready(function()
{
OpenCategoryLayer("#category_cn","#sel_category","#category_cn","#jobcategory",QS_jobs,21);
OpenCategoryLayer("#district_cn","#sel_district","#district_cn","#citycategory",QS_city,21);
OpenTradeLayer("#trade_cn","#trade","#sel_trade",21);
showmenu("#wage_cn","#menu1","#wage");
showmenu("#education_cn","#menu2","#education");
showmenu("#experience_cn","#menu3","#experience");
showmenu("#settr_cn","#menu4","#settr");
//更多条件开关
	$(".moresubmit").unbind().click(function () {
	$(".jobs_search_adv").slideToggle(0);
	});
	//提交表单
	$("form[name=form_1]").submit( function () {
  		if ($(".item_nature :checkbox[checked]").length==$(".item_nature :checkbox").length)//全选
			{
				$(".item_nature").html(" ");
			}
			else
			{
				var natureArr=new Array();
				$(".item_nature :checkbox[checked]").each(function(index){natureArr[index]=$(this).val();});
				$(".item_nature").html("<input name=\"nature\" id=nature type=\"hidden\" value=\""+natureArr.join("-")+"\" />");			
			}	
	});
//从GET恢复职位分类
var jobcategory="{#$smarty.get.jobcategory#}";
if (jobcategory)
{	
	jobcategory=jobcategory.split("-");
	for( var i=0;i<jobcategory.length;++i)
	{
		var catid=jobcategory[i].split(".");
	 	var jscat=QS_jobs[catid[0]];
		if (jscat)
		{
			var html=MakeLi(jscat,catid[0]);		
			if ($("#sel_category .item[id='"+catid[0]+"'] .sitem").html()=="")
			{
			$("#sel_category .item[id='"+catid[0]+"'] .sitem").html(html);
			}
		}
		if (catid[1]=="0")
		{
		$("#sel_category  :checkbox[value="+catid[0]+"]").attr("checked",true);
		$("#sel_category .item[id='"+catid[0]+"'] .sitem :checkbox").attr("checked",true);
		}
		else
		{
		$("#sel_category  .sitem :checkbox[value='"+catid[1]+"']").attr("checked",true);
		}
	}
					$("#sel_category .OpenFloatBox .item label :checkbox").parent().css("color","");
					$("#sel_category .OpenFloatBox .item label :checkbox[checked]").parent().css("color","#FF6600");
					$("#sel_category .OpenFloatBox .sitem :checkbox[checked]").each(function(index){
					 	$(this).parent().parent().prev().css("color","#FF6600");
					});
					CopyItem("#sel_category");
}
//从GET恢复地区
var citycategory="{#$smarty.get.citycategory#}";
if (citycategory)
{	
	citycategory=citycategory.split("-");
	for( var i=0;i<citycategory.length;++i)
	{
		var catid=citycategory[i].split(".");
	 	var jscat=QS_city[catid[0]];
		if (jscat)
		{
			var html=MakeLi(jscat,catid[0]);		
			if ($("#sel_district .item[id='"+catid[0]+"'] .sitem").html()=="")
			{
			$("#sel_district .item[id='"+catid[0]+"'] .sitem").html(html);
			}
		}
		if (catid[1]=="0")
		{
		$("#sel_district  :checkbox[value="+catid[0]+"]").attr("checked",true);
		$("#sel_district .item[id='"+catid[0]+"'] .sitem :checkbox").attr("checked",true);
		}
		else
		{
		$("#sel_district  .sitem :checkbox[value='"+catid[1]+"']").attr("checked",true);
		}
	}
					$("#sel_district .OpenFloatBox .item label :checkbox").parent().css("color","");
					$("#sel_district .OpenFloatBox .item label :checkbox[checked]").parent().css("color","#FF6600");
					$("#sel_district .OpenFloatBox .sitem :checkbox[checked]").each(function(index){
					 	$(this).parent().parent().prev().css("color","#FF6600");
					});
					CopyItem("#sel_district");
}
//从GET恢复职位性质选择状态
var get_nature="{#$smarty.get.nature#}";
if (get_nature!="")
{
	get_nature=get_nature.split("-");
	$(".item_nature :checkbox").attr("checked",false)
	for( var i=0;i<get_nature.length;++i)
	{
		$(".item_nature :checkbox").each(function(index)
			{
				if ($(this).val()==get_nature[i]) $(this).attr("checked",true)
		
			});
	}
}
//从GET恢复行业选择
var get_trade="{#$smarty.get.trade#}";
if (get_trade!="")
{
	get_trade=get_trade.split("-");
	for( var i=0;i<get_trade.length;++i)
	{
		$("#sel_trade :checkbox").each(function(index)
			{
				if ($(this).val()==get_trade[i]) $(this).attr("checked",true)
		
			});
	}
	$("#sel_trade  :checkbox").parent().css("color","");
	$("#sel_trade  :checkbox[checked]").parent().css("color","#009900");
}
//从GET恢复更多条件的打开状态
var get_adv="{#$smarty.get.wage#}{#$smarty.get.education#}{#$smarty.get.experience#}{#$smarty.get.settr#}";
if (get_adv>0)
{
$(".jobs_search_adv").show();
}
//从GET恢复搜索类型
var get_keytype="{#$smarty.get.keytype#}";
$(".item_key :input[name='keytype'][value="+get_keytype+"]").attr("checked",true); 
//
});
</script>
</head>
<body>
{#include file="jobs-header.htm"#}
<!--搜索职位 -->
<div class="jobs_search">
<div class="toptit">
  <div class="left">职位搜索</div>
 {#* <div class="right link_bk">
  <a href="{#"QS_index"|qishi_url#}">网站首页</a>&nbsp;&nbsp;&nbsp;<a href="{#"QS_user,1"|qishi_url#}?act=addjobs">发布职位</a>&nbsp;&nbsp;&nbsp;<a href="{#"QS_user,2"|qishi_url#}?act=resume_list">填写简历</a>
  </div>
 *#}
  <div class="clear"></div>
</div>
<form id="form_1" name="form_1" method="get" action="">
 <div class="tit">工作地区：</div>
  <div class="item">
  <input name="district_cn"  id="district_cn" type="text" value="{#$smarty.get.district_cn|default:"请选择工作地区"#}"  readonly="true" class="sltinput"/>
  <input name="citycategory" id="citycategory" type="hidden" value="{#$smarty.get.citycategory#}" />	  
	   <div  style="display:none" id="sel_district">
	 		<div class="OpenFloatBoxBg" ></div>
			<div class="OpenFloatBox">
					<div class="title"><h4>请选择工作地区</h4><div class="DialogClose" title="关闭"></div></div>
					<div class="tip">可多选，最多选择8项</div>
					<div class="content link_lan">					
								<div class="txt">							
										{#qishi_get_classify set="列表名:c_province,类型:QS_district,id:0"#}
										{#foreach from=$c_province item=list#}
										<div class="item" id="{#$list.id#}">
												<label title="{#$list.categoryname#}" class="titem" >
												<input  type="checkbox" value="{#$list.id#}"  title="{#$list.categoryname#}" class="b" />{#$list.categoryname#}
												</label>
												<div class="sitem"></div>
										</div>
										{#/foreach#}
										<div class="clear"></div>
								</div>
								<div class="txt"><div class="selecteditem"></div></div>							
								<div class="txt">
								<div align="center"><input type="button"  class="but80 Set" value="确定" /></div>
								</div>			
					</div>
			</div>
	  </div>
  </div>
 <div class="tit">职位类别：</div>
  <div class="item">
  <input name="category_cn" type="text" value="{#$smarty.get.category_cn|default:"请选择职位类别"#}"  readonly="true" id="category_cn" class="sltinput"/>
  <input name="jobcategory" id="jobcategory" type="hidden" value="{#$smarty.get.jobcategory#}" />
	  <div  style="display:none" id="sel_category">
	 		<div class="OpenFloatBoxBg" ></div>
			<div class="OpenFloatBox">
					<div class="title"><h4>请选择职位类别</h4><div class="DialogClose" title="关闭"></div></div>
					<div class="tip">可多选，最多选择8项</div>
					<div class="content link_lan">					
								<div class="txt">							
										{#qishi_get_classify set="列表名:c_jobs,类型:QS_jobs"#}
										{#foreach from=$c_jobs item=list#}
										<div class="item" id="{#$list.id#}">
												<label title="{#$list.categoryname#}" class="titem" >
												<input  type="checkbox" value="{#$list.id#}"  title="{#$list.categoryname#}" class="b" />{#$list.categoryname#}
												</label>
												<div class="sitem"></div>
										</div>
										{#/foreach#}
										<div class="clear"></div>
								</div>
								<div class="txt"><div class="selecteditem"></div></div>							
								<div class="txt">
								<div align="center"><input type="button"  class="but80 Set" value="确定" /></div>
								</div>			
					</div>
			</div>
	  </div>
  </div>
   <div class="item_nature">  
    {#qishi_get_classify set="列表名:c_nature,类型:QS_jobs_nature"#}{#foreach from=$c_nature item=list#}
       <label><input name="nature" type="checkbox" value="{#$list.id#}" checked="checked" />{#$list.categoryname#}</label>&nbsp;&nbsp;
		{#/foreach#}
   </div>
   <div class="clear"></div>   
 <div class="tit">行业类别：</div>
  <div class="item">
  		<input name="trade_cn" id="trade_cn" type="text" value="{#$smarty.get.trade_cn|default:"请选择行业"#}"  readonly="true" class="sltinput"/>
		<input name="trade" id="trade" type="hidden" value="{#$smarty.get.trade#}" />
		 <div  style="display:none" id="sel_trade">
	 		<div class="OpenFloatBoxBg" ></div>
			<div class="OpenFloatBox">
					<div class="title"><h4>请选择行业</h4><div class="DialogClose" title="关闭"></div></div>
					<div class="tip">可多选，最多选择8项</div>
					<div class="content link_lan">					
								<div class="txt">							
										{#qishi_get_classify set="列表名:c_trade,类型:QS_trade"#}{#foreach from=$c_trade item=list#}
										<div class="item" id="{#$list.id#}">
												<label title="{#$list.categoryname#}" class="titem" >
												<input  type="checkbox" value="{#$list.id#}"  title="{#$list.categoryname#}" class="b" />{#$list.categoryname#}
												</label>
										</div>
										{#/foreach#}
										<div class="clear"></div>
								</div>						
								<div class="txt">
								<div align="center"><input type="button"  class="but80 Set" value="确定" /></div>
								</div>			
					</div>
			</div>
	  </div>
  </div>
  <div class="tit">关 键 字：</div>
  <div class="item_key">    
      <input name="key" type="text" id="key" value="{#$smarty.get.key#}" class="keyinput" maxlength="10"/>
	 	 	<div style="position:absolute; right:8px; top:8px; ">
				<label><input name="keytype" type="radio" value="1" checked="checked"/>职位</label>&nbsp;
				<label><input name="keytype" type="radio" value="2" />公司</label>
				<label><input name="keytype" type="radio" value="3" />全文</label>
			</div>
				<script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
				<script language="javascript" type="text/javascript">
				 $(document).ready(function()
				{
					  var a = $('#key').autocomplete({ 
						serviceUrl:'{#$QISHI.site_dir#}plus/ajax.php?act=hotword&type=1',
						minChars:1, 
						maxHeight:400,
						width:281,
						zIndex: 9999,
						deferRequestBy: 0 //miliseconds
					  });
				
				});
				  </script>
  </div>
   <div class="item_submit">     
       <input type="submit" name="Submit" value=" " class="searcsubmit"/>
	   <input type="button" name="moresubmit" value="" class="moresubmit"/>
   </div>
   <div class="clear"></div>   
   <div class="jobs_search_adv"><!--更多搜索条件 -->
		<div class="advtit">薪资范围：</div>
		<div class="advitem">
  		<input name="wage_cn"  id="wage_cn" type="text" value="{#$smarty.get.wage_cn|default:"请选择"#}"  readonly="true" class="advinput"/>
		 <input name="wage" id="wage" type="hidden" value="{#$smarty.get.wage#}" />
		 <div id="menu1" class="menu">
			<ul>
			<li id="" title="不限制">不限制</li>
			{#qishi_get_classify set="列表名:c_wage,类型:QS_wage"#}{#foreach from=$c_wage item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		</div>
		<div class="advtit">学历要求：</div>
		<div class="advitem">
  		<input name="education_cn"  id="education_cn" type="text" value="{#$smarty.get.education_cn|default:"请选择"#}"  readonly="true" class="advinput"/>
		<input name="education" id="education" type="hidden" value="{#$smarty.get.education#}" />
			<div id="menu2" class="menu">
			<ul>
			<li id="" title="不限制">不限制</li>
			{#qishi_get_classify set="列表名:c_education,类型:QS_education"#}{#foreach from=$c_education item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		</div>
		<div class="advtit">工作年限：</div>
		<div class="advitem">
  		<input name="experience_cn"  id="experience_cn" type="text" value="{#$smarty.get.experience_cn|default:"请选择"#}"  readonly="true" class="advinput"/>
		<input name="experience" id="experience" type="hidden" value="{#$smarty.get.experience#}" />
			<div id="menu3" class="menu">
			<ul>
			<li id="" title="不限制">不限制</li>
			{#qishi_get_classify set="列表名:c_experience,类型:QS_experience"#}{#foreach from=$c_experience item=list#}
			<li id="{#$list.id#}" title="{#$list.categoryname#}">{#$list.categoryname#}</li>
			{#/foreach#}
			</ul>
		</div>
		</div>
		<div class="advtit">刷新日期：</div>
		<div class="advitem">
  		<input name="settr_cn"  id="settr_cn" type="text" value="{#$smarty.get.settr_cn|default:"请选择"#}"  readonly="true" class="advinput"/>
		<input name="settr" id="settr" type="hidden" value="{#$smarty.get.settr#}" />
			<div id="menu4" class="menu">
			<ul>
			<li id="" title="不限制">不限制</li>
			<li id="3" title="三天内">三天内</li>
			<li id="7" title="一周内">一周内</li>
			<li id="30" title="一月内">一月内</li>
			<li id="90" title="三月内">三月内</li>
			</ul>
		</div>
		</div>
		<div class="clear"></div>
   </div>
</form> 
</div>
<!--职位列表 -->
<div class="jobs_list">
  <div class="left">
  <form action="" method="post"  name="formjobslist" id="formjobslist"  target="_blank">
    <div class="tit">
      <div class="titsub" style="padding-left:0px; border-left:1px #E3E3E3 solid"><label><input name="selectall" type="checkbox" value="" id="selectall"/>全选</label></div>
      <div class="titsub" id="deliver1">批量投递简历</div>
      <div class="titsub" id="collect1">批量收藏职位</div>
      <div class="titsub" id="contrast1">对比职位</div>
      <div class="clear"></div>
    </div>
{#qishi_jobs_list  set="分页显示:1,列表名:jobslist,显示数目:20,填补字符:...,职位名长度:10,企业名长度:18,描述长度:93,关键字:GET[key],关键字类型:GET[keytype],职位分类:GET[jobcategory],职位大类:GET[category],职位小类:GET[subclass],地区分类:GET[citycategory],地区大类:GET[district],地区小类:GET[sdistrict],行业:GET[trade],日期范围:GET[settr],学历:GET[education],工作经验:GET[experience],工资:GET[wage],职位性质:GET[nature],排序:refreshtime>desc"#}
{#foreach from=$jobslist item=list#}
    <div class="list link_lan">
      <div class="job_list_t">
        <div style="float:left;">
            <span class="jid"><input name="jid" type="checkbox" value="{#$list.id#}" /></span>
            <span class="jobs"><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>
            {#if $list.rest=="1"#} <img src="{#$QISHI.site_template#}images/81.gif" border="0" align="absmiddle" title="每周单休" class="vtip"/>{#/if#}
            {#if $list.rest=="2"#} <img src="{#$QISHI.site_template#}images/80.gif" border="0" align="absmiddle" title="每周双休" class="vtip"/>{#/if#}
            {#if $list.insurance=="1"#} <img src="{#$QISHI.site_template#}images/82.gif" border="0" align="absmiddle" title="企业缴纳五险" class="vtip"/>{#/if#}
            {#if $list.insurance=="2"#} <img src="{#$QISHI.site_template#}images/83.gif" border="0" align="absmiddle" title="企业缴纳五险一金" class="vtip"/>{#/if#}</span>
            <span class="company"><a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a></span>
        </div>
        <div style="float:right;">{#if $list.stick=="1"#}置顶{#else#}{#$list.refreshtime_cn#}{#/if#}</div>
      </div>

      <div class="job_list_c">
          工作地点：<span>{#$list.district_cn#}</span> 学历要求：<span>{#$list.education_cn|default:"不限"#}</span> 性别要求：<span>{#$list.sex_cn#}</span> 招聘人数：<span>{#$list.amount#}人</span> 薪资待遇：<span>{#$list.wage_cn#}</span><br />
          职位要求：<font color="#8B9298">{#$list.briefly#}</font>
      </div>		  
      <div class="job_list_r">
          <img src="{#$QISHI.site_template#}images/53.gif" border="0" class="app_jobs" id="{#$list.id#}"/><br />
          <a href="javascript:void(0)" class="add_favorites" id="{#$list.id#}">[加入收藏]</a>
      </div>
	  <div class="clear"></div>
    </div>
{#/foreach#}
		{#if !$jobslist#}<div class="noinfo">
		<span>抱歉，没有符合该搜索条件的职位。</span><br />
您可以：<br />
重新修改搜索条件后再进行搜索。 <br />
适当减少一些搜索条件，以便能够获得更多的结果。 <br />
		</div>
		{#/if#}
		<div class="tit" style=" border-top:0px;">
				  <div class="titsub" style="padding-left:0px; border-left:1px #E3E3E3 solid"><label><input name="selectall" type="checkbox" value=""  />全选</label></div>
				  <div class="titsub" id="deliver2">批量投递简历</div>
				  <div class="titsub" id="collect2">批量收藏职位</div>
				  <div class="titsub" id="contrast2">对比职位</div>
				  <div class="clear"></div>
		</div>
	</form>
		{#if $page#}
		<div class="page link_bk">
		{#$page#}
		</div>
		{#/if#}
  </div>
  <div class="right">
    <div class="tit">推荐企业</div>
	  {#qishi_company_list set="列表名:company,显示数目:50,显示职位:1,职位名长度:6,企业名长度:17,推荐:1,排序:refreshtime>desc"#}
	  {#foreach from=$company item=list#}
      <div class="txt link_lan">
      <a class="companyname" href="{#$list.company_url#}" title="{#$list.companyname#}" target="_blank">{#$list.companyname#}</a>
      </div>
      {#/foreach#}
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>