
{#include file="top_nav.htm"#}
<div class='nav'>
  <div class='logo_nav'>
    <a href="{#$QISHI.site_dir#}"><img src="{#$QISHI.upfiles_dir#}{#$QISHI.web_logo#}" alt="{#$QISHI.site_name#}" width="200" border="0" align="absmiddle" /></a>
  </div>
   <div id="scbar" class="cl">
    <form id="scbar_form" method="get" action="/jobs/jobs-list.php">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td class="scbar_icon_td"></td>
        <td class="scbar_txt_td"><input type="text" name="key" id="scbar_txt" value="" /></td>
        <td class="scbar_btn_td">
        	<input name="searchtype" type="hidden" value="1" checked="checked" class='search_radio'/>
        	<button type="submit" name="searchsubmit" id="scbar_btn" style="padding:0px 5px"><strong>搜职位</strong></button></td>
      </tr>
    </table>
    </form>
   
  </div>
  <div class="clear"></div>
  <div class='dao_nav'>
    <ul>
{#qishi_nav set="调用名称:QS_top,列表名:list"#}
  {#foreach from=$list item=list#}
      <li{#if $list.tag==$page_select && $list.tag!=""#} class="current"{#/if#}><a href="{#$list.url#}" target="{#$list.target#}">{#$list.title#}</a></li>
  {#/foreach#}
    </ul>
  </div>
  <div class="clear"></div>
</div>