.clear{clear:both; height:0px; font-size:0px; line-height:0px;}

.login_outer{
	width:960px;
	margin-top:8px;
	margin-bottom:8px;
	height: 198px;
	margin-right: auto;
	margin-left: auto;
}
.login_box{
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 196px;
	width: 250px;
	border: 1px solid #0099CC;
	float: left;
}
.box1{
	height: 120px;
	width: 220px;
	margin-top: 65px;
	margin-right: 15px;
	margin-left: 15px;
	overflow: hidden;
}
.login_a{
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
	color: #0066CC;
	text-decoration: none;
}
.login_urgent{
	float: left;
	height: 194px;
	width: 372px;
	margin-left: 10px;
	border: 1px solid #0099cc;
	overflow: hidden;
	padding-bottom: 2px;
}

.title_urgent{
	background: url(../images/jjzp_bg.png) no-repeat;
	padding: 0px;
	height: 30px;
	width: 372px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0099cc;
	font-family: "宋体";
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #0066CC;
	text-indent: 20px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}
.login_urgent ul{
	padding: 0px;
	margin: 0px;
}

.login_urgent li{
	background: url(../images/j_index_t1.jpg) no-repeat  0px 6px;
	text-indent: 15px;
	line-height: 20px;
	height: 20px;
	width: 352px;
	margin: 0 10px 0 3px;
	overflow: hidden;
}
.login_urgent li a{
	font-size: 12px;
	color: #666;
	height: 22px;
	float:left; width:100%; overflow:hidden;
	text-decoration: none;
}
.login_urgent li a:hover {text-decoration:underline;color:#f00;}
.login_urgent li span.time{float:right;}

.login_adv{
	float: right;
	height: 198px;
	width: 314px;
	overflow: hidden;
}
.left_adv{
	height: 95px;
	width: 314px;
	margin-bottom: 7px;
	overflow: hidden;
}
.index_login_input{width:100px; height:20px; line-height:20px; font-family:Arial, Helvetica, sans-serif; border:1px #B6C0CD solid; font-size:12px;}
.login_err{color:red;}
.box_960 {
	padding: 0px;
	width: 960px;
	margin: 0 auto 8px;
}
.bg_960 {
	background: url(../images/960_bg.jpg) no-repeat;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 960px;
}
.dao_txt {
	font-family: "新宋体";
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	float: left;
	height: 30px;
	width: 99px;
	padding-right: 3px;
	padding-left: 8px;
}
.dao_more {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #666;
	text-align: right;
	float: right;
	height: 16px;
	margin: 7px 10px 7px 8px;
	padding-left: 8px;
	border-left: 1px solid #ccc;
}
.dao_more2 {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #666;
	text-align: right;
	float: right;
	height: 16px;
	width: 280px;
	margin: 7px 10px 7px 5px;
	padding-left: 5px;
	border-left: 1px solid #ccc;
}
.dao_more a{
	font-family: "新宋体";
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #065FB9;
	text-decoration: none;
}
.dao_info{
	font-family: "新宋体";
	font-size: 12px;
	line-height: 16px;
	color: #FF6600;
	text-decoration: none;
	float: right;
	height: 16px;
	width: 600px;
	margin-right: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: right;
}
.dao_info a{text-decoration:none;color:#065FB9;}
.mqcj {
	padding: 0px;
	height:267px;
	width: 960px;
	overflow: hidden;
	margin: 8px 0px 0px 0px;
}

.mqcj_637{
	padding: 0px;
	float: left;
	height: 60px;
	width: 637px;
	margin: 0px 9px 9px 0px;
}

.mqcj_314_1{
	padding: 0px;
	float: left;
	height: 60px;
	width: 314px;
	margin: 0px 9px 9px 0px;
}
.mqcj_314_2{
	padding: 0px;
	float: left;
	height: 60px;
	width: 314px;
	margin-bottom: 9px;
}

.commendjob{width:948px;border:1px solid #b7d3eb;padding:10px 0 12px 10px;}
.commendjob .list{float:left;width:296px;height:40px;margin:5px 10px 2px 0;padding:3px 0 2px 8px;display:inline;border:1px solid #B7D3EB;}
.commendjob .list a {font-size: 14px;line-height: 20px;color: #0066CC;text-decoration: none;}
.commendjob .list a:hover {text-decoration: underline;color:#f00}
.commendjob a.companyname {padding-left:16px;background:url(../images/0.gif) 2px 2px no-repeat;}
.commendjob .jobslist {width:270px;height:20px;line-height:20px;padding-left:20px;background:url(../images/pin.gif) -2px -3px no-repeat;white-space:nowrap;overflow:hidden;}
.commendjob .jobslist a {font-size:12px;line-height:20px;color:#4d4d4d;text-decoration:none;}

.newjob {width:930px;border:1px solid #b7d3eb;padding:10px 14px;}
.newjob .list{overflow:hidden;float:left;width:295px;height:30px;background: url(../images/ali.png) no-repeat 5px 10px;padding-left:15px;white-space:nowrap;}
.newjob .list_new{float:left;width:295px;height:30px;background: url(../images/tp_new.png) no-repeat 5px 10px;padding-left:15px;white-space:nowrap;}
.newjob .comtip1 {line-height:30px; font-weight:normal;padding-right:3px;}
.newjob .comtip1 a{text-decoration:none;color:#59656f;}
.newjob .comtip1 a:hover{text-decoration: underline;color:#59656f;}
.newjob a{text-decoration:none;color:#2d79cf;}
.newjob a:hover{text-decoration: underline;}
.newjob .newjob_con {
	background: url(../images/newjob_con_bg.gif) repeat;
	height: auto;
	float: left;
}

.simplejob{width:938px;border:1px solid #b7d3eb;padding:10px;}
.simplejob .vjob_list{float:left;width:938px;height:30px;line-height:30px;border-bottom:#CCC dotted 1px;overflow:hidden;}
.simplejob .vjob_list .title{float:left; width:820px; padding:0 10px;_width:765px; color:#666; overflow:hidden}
.simplejob .vjob_list .title a{color:#0067e0}
.simplejob .vjob_list .title strong{font-weight:normal;color:#000}
.simplejob .vjob_list .time{float:right; width:70px;}

.box_637 {width: 637px;float:left; margin-right:9px;}
.box_314 {width: 314px;float:right}

.bg_637 {
	background: url(../images/637_bg.jpg) no-repeat;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 637px;
}

.bg_314 {
	background: url(../images/314_bg.jpg) no-repeat;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 314px;
}

.dao_txt2 {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	float: left;
	height: 30px;
	width: 80px;
	padding-right: 3px;
	padding-left: 5px;
}

.zxjl {
	padding: 10px 8px 18px;
	width: 619px;
	border: 1px solid #b7d3eb;
	border-top: 0;
	overflow:auto;
}
.zxjl table{
border-collapse:collapse;
}

.zxjl table td{
	font-size: 12px;
	line-height: 28px;
	color: #4d4d4d;
	height: 28px;
	padding-right: 3px;
	padding-left: 3px;
	border-bottom: 1px dotted #CCC;
}
.zxjl table td a{
	color: #FF6600;
	text-decoration: none;
}
.zxjl table td a:hover{
	text-decoration: underline;
}
.zpjl {
	padding: 8px;
	width: 296px;
	border: 1px solid #b7d3eb;
	border-top: 0;
	overflow: hidden;
}

.zpjl .zpjl_li{
	padding: 0px;
	height: 92px;
	width: 296px;
	margin: 0 0 9px 0;
}

.zpjl .zpjl_li table{
	border-collapse:collapse;
}

.zpjl .zpjl_li table td{
	font-size: 12px;
	line-height: 23px;
	color: #1A84DA;
	height: 23px;
	padding-left: 3px;
	word-break:keep-all;
	white-space:nowrap;
}
.zpjl_li .zpjl_info {
	color: #4d4d4d;
}
.zpjl .zpjl_li table td a{
	color: #4D4D4D;
	text-decoration: none;
}

.zx_box{
	padding: 8px;
	width: 296px;
	border: 1px solid #b7d3eb;
	border-top: 0;
	overflow: hidden;
}

.zx_box ul{
	width: 290px;
	clear: both;
	margin: 0;
	padding: 0;
}
.zx_box ul li {
	float:left; 
	width:100%;
	height:24px;
	overflow:hidden !important;
	overflow: visible;
}
.zx_box ul li a{
	font-size: 12px;
	line-height: 22px;
	color: #4d4d4d;
	height: 22px;
	overflow: hidden;
	text-decoration: none;
	display: block;
	background: url(../images/ali.png) no-repeat left 6px;
	text-indent: 10px;
	float:left;
}
.zx_box ul li a:hover{
	text-decoration: underline;
}
.zx_box ul li span{ float:right;}

.yqlj {
	width: 943px;
	border: 1px solid #b7d3eb;
	overflow: hidden;
	padding: 7px 3px 7px 12px;
	overflow:auto;
	zoom:1;
}

.yqlj a{
	font-size: 12px;
	line-height: 24px;
	color: #4d4d4d;
	text-decoration: none;
	height: 22px;
	width: 95px;
	padding-right: 10px;
	overflow: hidden;
}
.yqlj a:hover{
	text-decoration: underline;
}


.vipqy {
	padding: 0px;
	width: 975px;
	margin: 0 auto;
}
.vipqy .list {
	width: 234px;
	float: left;
	padding-left: 8px;
	margin-bottom: 8px;
}
.vipqy .list .imgbox {
	width: 232px;
	background-color: white;
	border: 1px #D5D5D5 solid;
	height: 60px;
}
.vipqy .list .imgbox img {
	width: 232px;
	height: 60px;
	border: 0px;
}
.vipqy .list .text {
	width: 232px;
	background-color: #F6FCFF;
	border: 1px #D5D5D5 solid;
	height: 25px;
	line-height: 25px;
	border-top: 0px;
	text-align: center;
}
.vipqy2 {
    padding: 0px;
    width: 984px;
    margin: 0 auto;
}
.vipqy2 .list2 {
    width: 473px;
    float: left;
    padding-left: 12px;
    margin-bottom: 8px;
}
.vipqy2 .list2 .imgbox {
    width: 473px;
    background-color: white;
    border: 1px #D5D5D5 solid;
    height: 60px;
}
.vipqy2 .list2 .imgbox img {
    width: 473px;
    height: 60px;
    border: 0px;
}

.banner_ad {
    width: 960px;
    background-color: #F6FCFF;
    border: 1px #D5D5D5 solid;
    border-top: 0px;
    text-align: center;
    margin:0 auto;
    margin-bottom:10px;
}

.banner_ad img {
    width: 100%;
}
.zpjl_li .zpjl_info2 {
	font-family: "新宋体";
	font-size: 12px;
	line-height: 23px;
	color: #4d4d4d;
	height: 23px;
	width: 150px;
	overflow: hidden;
	float: left;
}